Repository ansible-collections/amazon.aws, pull requests merged in 2020-11, with the labels that each got.

#20 Add a content parameter to aws_s3 put operation
  changelogs/fragments/20-aws_s3-content.yml
  plugins/module_utils/s3.py
  plugins/modules/aws_s3.py
  tests/integration/targets/aws_s3/files/test.png
  tests/integration/targets/aws_s3/tasks/main.yml
  tests/integration/targets/aws_s3/templates/put-template.txt.j2
Labels: affects_2.10, community_review, feature, integration, module, module_utils, new_contributor, plugins, stale_ci, tests

#53 ec2_vol: boto3 migration (migrating ansible/ansible#45500 to amazon.aws)
  changelogs/fragments/53-ec2_vol-boto3-port.yml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: affects_2.10, bug, has_issue, integration, module, needs_revision, new_contributor, plugins, tests

#122 aws_secrets.py: add on_missing and on_denied option
  changelogs/fragments/122-aws_secret-add-on_missing-and-on_denied-option.yml
  plugins/lookup/aws_secret.py
  tests/unit/plugins/lookup/test_aws_secret.py
Labels: affects_2.10, community_review, feature, lookup, needs_triage, new_contributor, plugins
