Repository ansible-collections/amazon.aws, pull requests merged in 2020-08, with the labels that each got.

#151 Only use the AWS profile environment variables if we've not been passed a credential as a parameter
  changelogs/fragments/151-deprecate-profile-credential-combination.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/ec2.py
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, module_utils, needs_revision, needs_triage, plugins, stale_ci, tests

#148 Add a .gitkeep file to avoid the fragments directory itself going away after a release
  changelogs/fragments/.keep
Labels: affects_2.10, community_review, docs, needs_triage, owner_pr, stale_ci

#140 Support passing arbitrary extra keys to fail_json_aws
  changelogs/fragments/140-fail_json_aws_keys.yml
  plugins/module_utils/core.py
  shippable.yml
  tests/unit/module_utils/core/ansible_aws_module/test_fail_json_aws.py
Labels: affects_2.10, community_review, feature, module_utils, needs_triage, plugins, stale_ci, tests

#152 Prepare 1.2.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/121-ec2_url-resolution-order.yaml
  changelogs/fragments/129-verify_overridden.yml
  changelogs/fragments/140-fail_json_aws_keys.yml
  changelogs/fragments/151-deprecate-profile-credential-combination.yml
  changelogs/fragments/71484-ceph-tag-set-compat.yaml
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_elb_lb_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: affects_2.10, community_review, docs, feature, needs_triage, stale_ci
