Repository ansible-collections/amazon.aws, pull requests merged in 2021-02, with the labels that each got.

#188 Logic for nested HttpRequestMethodConfig Values
  changelogs/fragments/188-httprequestmethodconfig-keyerror.yaml
  plugins/module_utils/elbv2.py
Labels: bug, module_utils, needs_revision, new_contributor, plugins

#257 Don't require specific boto3 revision in elbv2 mod_utils
  plugins/module_utils/elbv2.py
Labels: bug, community_review, module_utils, needs_triage, plugins, small_patch

#258 Update changelog from PR 188
  changelogs/fragments/188-httprequestmethodconfig-keyerror.yaml
Labels: community_review, docs, needs_triage, owner_pr

#260 Allow fully qualified collection plugin name for aws_ec2 inventory
  plugins/inventory/aws_ec2.py
Labels: bug, community_review, inventory, needs_triage, plugins, small_patch

#254 Prepare 1.4.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/188-httprequestmethodconfig-keyerror.yaml
  changelogs/fragments/192-aws_secret-bypath-option.yaml
  changelogs/fragments/213-ec2_key-retries.yml
  changelogs/fragments/215-gp3-and-change-support-for-ec2_vol.yaml
  changelogs/fragments/217-duplicate-imports.yml
  changelogs/fragments/226_avoid_extra_Display_import.yaml
  changelogs/fragments/237_replace_inverse_ec2_aws_filter.yaml
  changelogs/fragments/241_ec2_vol-returns-an-up-to-date-tag-dict-of-the-volume.yaml
  changelogs/fragments/25-aws_ec2-hostname-options-concatenation.yaml
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  galaxy.yml
Labels: docs, feature, needs_revision

#268 Add waiter for ec2_vpc_endpoint
  plugins/module_utils/waiters.py
Labels: community_review, feature, module_utils, needs_triage, plugins
