Repository ansible-collections/amazon.aws, pull requests merged in 2021-10, with the labels that each got.

#512 ec2_snapshot: Add check_mode support to ec2_snapshot
  changelogs/fragments/512-ec2_snapshot_add_check_mode_support.yml.yml
  plugins/modules/ec2_snapshot.py
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#516 ec2_ami: Add check_mode support to ec2_ami
  changelogs/fragments/516-ec2_ami_add_check_mode_support.yml
  plugins/modules/ec2_ami.py
  tests/integration/targets/ec2_ami/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#518 Doc fix ec2_vol_info
  plugins/modules/ec2_vol_info.py
Labels: module, docs, plugins, shipit, gate

#517 Add tests/config.yml to tell recent versions of ansible-test we don't support Python<3.6
  tests/config.yml
Labels: feature, tests, community_review, needs_triage, gate

#520 Use module_util helper for tagging AMIs
  changelogs/fragments/520-ec2_ami-tagging.yml
  plugins/modules/ec2_ami.py
  tests/integration/targets/ec2_ami/tasks/main.yml
Labels: feature, has_issue, integration, module, tests, community_review, needs_triage, plugins, gate

#523 IGW use module_util functions for tag management
  changelogs/fragments/523-ec2_vpc_igw-tagging.yml
  plugins/modules/ec2_vpc_igw.py
  tests/integration/targets/ec2_vpc_igw/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#525 ec2_vpc_endpoint use module_utils helper for tagging
  changelogs/fragments/525-ec2_vpc_endpoint-tagging.yml
  plugins/modules/ec2_vpc_endpoint.py
Labels: feature, module, community_review, plugins, gate

#524 NAT Gateway use module_utils helper for tag management
  changelogs/fragments/524-ec2_vpc_nat_gateway-tagging.yml
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: integration, module, tests, community_review, plugins, gate

#527 Add helper for generating TagSpecification lists and update ec2_instance to use helpers
  changelogs/fragments/527-ec2_instance-tagging.yml
  plugins/module_utils/ec2.py
  plugins/module_utils/tagging.py
  plugins/modules/ec2_instance.py
  tests/unit/module_utils/test_ec2.py
  tests/unit/module_utils/test_tagging.py
Labels: new_plugin, feature, module, module_utils, tests, community_review, plugins, gate
