Repository ansible-collections/amazon.aws, pull requests merged in 2021-07, with the labels that each got.

#362 Migrates scenario guide from ansible/ansible repo
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_aws.rst
Labels: community_review, docs, gate, has_issue

#378 aws_ssm add on_missing and on_denied options
  changelogs/fragments/370-aws_ssm-add-on_missing-and-on_denied-option.yml
  plugins/lookup/aws_ssm.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: community_review, feature, gate, lookup, plugins, tests

#398 Install ec2_eni test requirements
  test-requirements.txt
Labels: bug, community_review, gate, integration, needs_triage, plugins, small_patch, tests

#337 ec2_eni: Fix idempotency when security_groups is specified
  changelogs/fragments/337-ec2_eni-fix-idempotency-security-groups.yml
  plugins/modules/ec2_eni.py
  tests/integration/targets/ec2_eni/tasks/main.yaml
  tests/integration/targets/ec2_eni/tasks/test_eni_basic_creation.yaml
Labels: CI, bug, community_review, gate, integration, module, new_contributor, plugins, tests

#359 ``aws_s3`` copy to object
  changelogs/fragments/359-aws_s3-add-copy-mode.yml
  plugins/modules/aws_s3.py
  tests/integration/targets/aws_s3/defaults/main.yml
  tests/integration/targets/aws_s3/tasks/copy_object.yml
  tests/integration/targets/aws_s3/tasks/delete_bucket.yml
  tests/integration/targets/aws_s3/tasks/main.yml
Labels: community_review, feature, gate, has_issue, integration, module, plugins, tests

#400 Add strawman for ISSUE_TEMPLATES form
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: community_review, feature, gate, needs_triage

#401 Add template for a CI issue
  .github/ISSUE_TEMPLATE/ci_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: community_review, feature, gate, needs_triage

#406 Use tiny_prefix to limit the length of the 'unique' component of ELB name
  tests/integration/targets/ec2_elb_lb/defaults/main.yml
  tests/integration/targets/ec2_elb_lb/tasks/main.yml
Labels: CI, bug, community_review, gate, integration, plugins, python3, tests, traceback

#411 tests: ec2_eni, ec2_instance and ec2_ami are slow
  tests/integration/targets/ec2_ami/aliases
  tests/integration/targets/ec2_eni/aliases
  tests/integration/targets/ec2_instance/aliases
Labels: CI, gate, integration, needs_info, needs_template, plugins, tests

#413 tests: disable ec2_instance for now
  tests/integration/targets/ec2_instance/aliases
Labels: CI, bug, community_review, gate, integration, plugins, python3, small_patch, tests
