Repository ansible-collections/amazon.aws, pull requests merged in 2021-08, with the labels that each got.

#429 Disable ec2_key, ec2_snapshot and ec2_group tests
  tests/integration/targets/ec2_group/aliases
  tests/integration/targets/ec2_key/aliases
  tests/integration/targets/ec2_snapshot/aliases
Labels: community_review, feature, gate, integration, plugins, tests

#424 Formally start the ec2 deprecation process
  changelogs/fragments/424-deprecate-ec2.yml
  meta/runtime.yml
  plugins/modules/ec2.py
  tests/sanity/ignore-2.9.txt
Labels: feature, module, tests, community_review, plugins, gate

#420 Mark ec2_group and ec2_snapshot as slow tests
  tests/integration/targets/ec2_group/aliases
  tests/integration/targets/ec2_snapshot/aliases
  tests/integration/targets/ec2_vol/aliases
  tests/integration/targets/ec2_vpc_subnet/aliases
Labels: bug, has_issue, integration, tests, python3, plugins, shipit, gate

#444 Update guide_aws.rst
  docs/docsite/rst/guide_aws.rst
Labels: new_contributor, community_review, docs, small_patch, gate

#443 Cleanup unused imports (again)
  plugins/inventory/aws_ec2.py
  plugins/modules/ec2_tag.py
  plugins/modules/ec2_tag_info.py
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vpc_subnet.py
  tests/unit/module_utils/core/test_normalize_boto3_result.py
  tests/unit/plugins/modules/test_ec2_vpc_dhcp_option.py
Labels: bug, inventory, module, tests, community_review, needs_triage, plugins, needs_maintainer, gate

#405 Remove "missing credentials" tests from ec2_group/ec2_vpc_net
  tests/integration/targets/ec2_group/tasks/credential_tests.yml
  tests/integration/targets/ec2_group/tasks/main.yml
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
Labels: feature, integration, tests, community_review, plugins, gate

#426 Resolving module docs inconsistencies
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_elb_lb_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  plugins/doc_fragments/aws.py
  plugins/modules/aws_s3.py
Labels: new_contributor, has_issue, module, community_review, docs, plugins, gate

#446 Add new "require_boto(3|core)_at_least() helpers
  plugins/module_utils/core.py
  plugins/modules/ec2_vol.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/module_utils/core/ansible_aws_module/test_require_at_least.py
Labels: feature, module, module_utils, tests, community_review, needs_triage, plugins, gate

#419 Add note to use FQCN on Ansible versions <1.10
  plugins/inventory/aws_rds.py
Labels: new_contributor, inventory, community_review, docs, plugins, small_patch, gate

#436 ec2_group: update documentation for specifying port ranges
  plugins/modules/ec2_group.py
Labels: module, community_review, docs, plugins, gate

#425 Add example for amazon.aws.aws_secret with region and aws_profile parameters
  plugins/lookup/aws_secret.py
Labels: lookup, community_review, needs_triage, docs, plugins, gate

#447 Drop compile/import tests for old versions of python in sanity tests
  tests/integration/targets/ec2_vol/defaults/main.yml
  tests/integration/targets/ec2_vol/main.yml
  tests/integration/targets/ec2_vol/tasks/tests.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/sanity/refresh_ignore_files
Labels: feature, integration, tests, community_review, needs_triage, plugins, gate

#460 Fixup / ignore new pylint 2.9.3 issues
  changelogs/fragments/460-pylint.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_vol/aliases
  tests/sanity/ignore-2.12.txt
  tests/unit/mock/loader.py
  tests/unit/module_utils/test_elbv2.py
  tests/unit/module_utils/test_s3.py
Labels: bug, integration, module, tests, community_review, needs_triage, plugins, gate

#453 ec2_vol tests set botocore requires to == rather than >=
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: integration, tests, community_review, needs_triage, plugins, small_patch, gate

#455 aws_secret (lookup) - Add support for handling secrets marked for deletion
  changelogs/fragments/455-lookup_aws_secret-deleted.yml
  plugins/lookup/aws_secret.py
  tests/integration/targets/lookup_aws_secret/tasks/main.yaml
Labels: feature, integration, lookup, tests, python3, community_review, needs_triage, traceback, plugins, gate

#454 Don't check aws_az_info 'zone_type' it's only returned when botocore >= 1.17.18
  tests/integration/targets/aws_az_info/tasks/main.yml
Labels: integration, tests, community_review, needs_triage, plugins, gate

#427 ec2_key : Fix tests
  bindep.txt
  test-requirements.txt
  tests/integration/targets/ec2_key/aliases
  tests/integration/targets/setup_sshkey/files/ec2-fingerprint.py
  tests/integration/targets/setup_sshkey/tasks/main.yml
Labels: bug, has_issue, integration, tests, community_review, plugins, gate

#450 Add botocore requirements to s3_bucket ownership control management
  plugins/modules/s3_bucket.py
  tests/integration/targets/s3_bucket/inventory
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/ownership_controls.yml
Labels: bug, integration, module, tests, community_review, needs_triage, plugins, gate

#465 use a generator rather than list comprehension when using any()
  changelogs/fragments/465-pylint.yml
  plugins/inventory/aws_ec2.py
  plugins/modules/ec2_group.py
  tests/sanity/ignore-2.12.txt
Labels: bug, inventory, module, tests, community_review, needs_triage, plugins, gate

#417 Update user guide
  docs/docsite/rst/guide_aws.rst
Labels: community_review, docs, gate

#461 Remove vendored ipaddress library, we've dropped support for Python < 3.6
  changelogs/fragments/461-ipaddress.yml
  plugins/module_utils/compat/_ipaddress.py
  plugins/modules/ec2_group.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, module, module_utils, tests, community_review, plugins, gate

#414 EC2_instance: add support for controlling metadata options
  changelogs/fragments/414-ec2_instance-support-controlling-metadata-options.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/inventory
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/metadata_options.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#431 ec2_metadata_facts: fixing generated doc render
  plugins/modules/ec2_metadata_facts.py
Labels: bug, module, community_review, plugins, gate

#437 ec2_ami - ensure tags are propagated to the snapshot(s)
  changelogs/fragments/437-ec2_ami-propagate-tags-to-snapshot.yml
  plugins/modules/ec2_ami.py
  tests/integration/targets/ec2_ami/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#387 s3_bucket - improve documentation of policy parameter
  plugins/modules/s3_bucket.py
Labels: new_contributor, integration, module, tests, community_review, docs, plugins, gate

#458 Adding example of using groups in aws_ec2.py module
  plugins/inventory/aws_ec2.py
Labels: inventory, community_review, docs, plugins, gate

#480 inventory_aws_ec2/test: switch to ec2_instance
  tests/integration/targets/inventory_aws_ec2/playbooks/populate_cache.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/setup.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_concatenation.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_constructed.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_include_or_exclude_filters.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_use_contrib_script_keys.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_refresh_inventory.yml
Labels: bug, integration, inventory, tests, community_review, needs_triage, gate

#483 ec2_vol: Fix incorrectly returned changed result
  changelogs/fragments/483-ec2_vol_fix_returned_changed_var.yml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: bug, integration, module, tests, community_review, plugins, gate

#456 do not include {} boto filter by default
  changelogs/fragments/include_filters_with_filter.yaml
  plugins/inventory/aws_ec2.py
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: bug, new_contributor, has_issue, inventory, tests, community_review, plugins, gate

#407 Add initial work on new spot instance module
  meta/runtime.yml
  plugins/modules/ec2_spot_instance.py
  tests/integration/targets/ec2_spot_instance/aliases
  tests/integration/targets/ec2_spot_instance/defaults/main.yml
  tests/integration/targets/ec2_spot_instance/tasks/main.yaml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, gate
