Repository ansible-collections/amazon.aws, pull requests merged in 2021-03, with the labels that each got.

#277 prepare Zuul integration
  test-requirements.txt
Labels: community_review, needs_triage

#283 Update plugin import handling for new sanity tests
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
Labels: bug, inventory, lookup, needs_revision, needs_triage, plugins

#282 Vendor ipaddress.py module util
  changelogs/fragments/273-vendor-ipaddress-utility.yml
  galaxy.yml
  plugins/module_utils/compat/_ipaddress.py
  plugins/modules/ec2_group.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: bug, community_review, module, module_utils, needs_triage, new_plugin, plugins, python3, tests

#284 Ignore new pylint rules
  tests/sanity/ignore-2.11.txt
Labels: bug, community_review, needs_triage, small_patch, tests

#285 Prep 1.4.1 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/273-vendor-ipaddress-utility.yml
  galaxy.yml
Labels: community_review, feature, needs_triage

#287 Add comments to sanity ignore files explaining why things are ignored
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: module_utils, needs_revision, plugins, tests

#270 Attempt to improve vpc_subnet / vpc_net stability
  changelogs/fragments/270-vpc-waiters.yaml
  plugins/module_utils/waiters.py
  plugins/modules/ec2_vpc_net.py
  plugins/modules/ec2_vpc_subnet.py
Labels: community_review, feature, module, module_utils, plugins

#295 aws_account_attribute - AWSRetry (+integration tests)
  changelogs/fragments/295-aws_account_attribute-awsretry.yml
  plugins/lookup/aws_account_attribute.py
  tests/integration/targets/lookup_aws_account_attribute/aliases
  tests/integration/targets/lookup_aws_account_attribute/tasks/main.yaml
Labels: community_review, feature, integration, lookup, needs_triage, plugins, tests

#291 Sanity test cleanup (non-breaking)
  changelogs/fragments/291-lint-cleanup.yml
  plugins/module_utils/cloud.py
  plugins/module_utils/cloudfront_facts.py
  tests/sanity/ignore-2.11.txt
Labels: bug, community_review, module_utils, needs_triage, plugins, tests

#288 Use HAS_BOTO3 consistently in non-module plugins
  changelogs/fragments/288-has_boto3.yml
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_service_ip_ranges.py
  plugins/lookup/aws_ssm.py
Labels: feature, inventory, lookup, needs_revision, plugins

#296 Yet another duplicate-except warning
  plugins/modules/ec2_ami_info.py
Labels: bug, community_review, module, needs_triage, owner_pr, plugins, small_patch

#262 feat(261): Adds parameter to descend into lists when scrubbing None p…
  changelogs/fragments/261-scrub-params-descend-into-lists.yml
  plugins/__init__.py
  plugins/module_utils/core.py
  tests/unit/module_utils/core/test_scrub_none_parameters.py
Labels: community_review, feature, module_utils, new_plugin, plugins, tests

#299 [Docs] Boto requirements cleanup
  plugins/modules/ec2_elb_lb.py
  plugins/modules/ec2_group.py
  plugins/modules/ec2_vol.py
Labels: community_review, docs, module, needs_triage, owner_pr, plugins

#271 new helper function : normalize_boto3_result
  changelogs/fragments/271-normalize_boto3_result.yml
  plugins/module_utils/core.py
  tests/unit/module_utils/core/test_normalize_boto3_result.py
Labels: community_review, module_utils, plugins, tests

#292 Add missing unit tests requirements
  test-requirements.txt
Labels: community_review, needs_triage

#279 Add the waiter for ec2_vpc_nat_gateway
  plugins/module_utils/waiters.py
Labels: community_review, module_utils, plugins

#155 feat: support for StackPolicyDuringUpdateBody
  changelogs/fragments/155-support-for-StackPolicyDuringUpdateBody.yaml
  plugins/modules/cloudformation.py
  tests/integration/targets/cloudformation/files/update_policy.json
  tests/integration/targets/cloudformation/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, module, new_contributor, plugins, tests, waiting_on_contributor

#242 ec2_vol: preserve the name tag of the volume
  changelogs/fragments/241_ec2_vol-add_purge_tags_parameter.yaml
  changelogs/fragments/242_ec2_vol-preset-the-name-tag-of-the-volume.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: has_issue, integration, module, needs_info, needs_revision, needs_template, plugins, tests

#57 aws_ec2 inventory plugin: added ability for using Jinja on AWS credentials
  changelogs/fragments/57-aws_ec2-support-for-templates.yml
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/create_environment_script.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_template.yml.j2
Labels: affects_2.10, community_review, feature, has_issue, integration, inventory, new_contributor, plugins, tests

#301 add no_log=False to ec2_key 'key_material'
  plugins/modules/ec2_key.py
Labels: bug, community_review, module, needs_triage, owner_pr, plugins, small_patch

#302 Copy test requirements from commnity.aws
  test-requirements.txt
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: community_review, needs_triage, tests

#43 Add support for EC2 IMDSv2 (Instance Metadata Service)
  changelogs/fragments/43-ec2_metadata_facts-IMDSv2.yml
  plugins/modules/ec2_metadata_facts.py
Labels: affects_2.10, community_review, feature, has_issue, module, new_contributor, owner_pr, plugins

#303 more no_log=False to fix sanity tests (fixes CI)
  plugins/module_utils/ec2.py
  plugins/modules/aws_s3.py
Labels: bug, community_review, module, module_utils, needs_triage, plugins, small_patch

#306 avoid failure when platform isn't set
  changelogs/fragments/305-ec2_vol-no-platform.yml
  plugins/modules/ec2_vol.py
Labels: bug, community_review, has_issue, module, needs_triage, owner_pr, plugins, small_patch
