Repository ansible-collections/amazon.aws, pull requests merged in 2021-04, with the labels that each got.

#313 fix public_access example
  docs/amazon.aws.s3_bucket_module.rst
  plugins/modules/s3_bucket.py
Labels: community_review, docs, module, new_contributor, plugins

#315 Added ignore-2.12
  changelogs/fragments/ignore_212.yml
  tests/sanity/ignore-2.12.txt
Labels: bug, needs_revision, needs_triage, tests

#323 WIP: aws_ec2 inventory add includes_entries_matching options
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/runme.sh
Labels: WIP, integration, inventory, needs_triage, plugins, tests

#324 Revert "WIP: aws_ec2 inventory add includes_entries_matching options (#323)"
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/runme.sh
Labels: gate, integration, inventory, needs_revision, plugins, tests

#326 disable shippable
  shippable.yml
Labels: gate, needs_info, needs_revision, needs_template, needs_triage

#321 ec2_snapshot_info add option for paginated requests
  changelogs/fragments/321-ec2_snapshot_info-add_max_results_and_next_token_parameters.yaml
  plugins/modules/ec2_snapshot_info.py
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: feature, gate, integration, module, needs_revision, plugins, tests

#331 aws2_ec2 inventory: populate ec2_tag_* hostvars
  changelogs/fragments/331_aws_ec2_inventory_use_contrib_script_compatible_ec2_tag_keys.yaml
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_use_contrib_script_keys.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_use_contrib_script_keys.yml.j2
Labels: gate, has_issue, integration, inventory, needs_info, needs_template, plugins, tests

#328 aws_ec2 inventory: add includes_filters and excludes_filters
  changelogs/fragments/328_aws_ec2_inventory_includes_entries_matching.yaml
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_include_or_exclude_filters.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_include_or_exclude_filters.yml.j2
Labels: community_review, gate, integration, inventory, plugins, tests

#309 Add common helper for ec2 client 'ensure_tags'
  changelogs/fragments/309-ec2_tags.yml
  plugins/module_utils/ec2.py
  plugins/modules/ec2_tag.py
  plugins/modules/ec2_tag_info.py
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vpc_subnet.py
Labels: community_review, feature, gate, module, module_utils, plugins

#340 test/s3: keep the bucket name length under control (<63 characters)
  tests/integration/targets/aws_s3/tasks/main.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/defaults/main.yml
Labels: community_review, gate, integration, plugins, tests

#339 [aws_s3] Assign keyrtn var before use
  plugins/modules/aws_s3.py
Labels: bug, community_review, gate, module, needs_triage, owner_pr, plugins, small_patch

#342 Prepare 1.5.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/155-support-for-StackPolicyDuringUpdateBody.yaml
  changelogs/fragments/241_ec2_vol-add_purge_tags_parameter.yaml
  changelogs/fragments/242_ec2_vol-preset-the-name-tag-of-the-volume.yaml
  changelogs/fragments/261-scrub-params-descend-into-lists.yml
  changelogs/fragments/270-vpc-waiters.yaml
  changelogs/fragments/271-normalize_boto3_result.yml
  changelogs/fragments/288-has_boto3.yml
  changelogs/fragments/291-lint-cleanup.yml
  changelogs/fragments/295-aws_account_attribute-awsretry.yml
  changelogs/fragments/305-ec2_vol-no-platform.yml
  changelogs/fragments/309-ec2_tags.yml
  changelogs/fragments/321-ec2_snapshot_info-add_max_results_and_next_token_parameters.yaml
  changelogs/fragments/328_aws_ec2_inventory_includes_entries_matching.yaml
  changelogs/fragments/331_aws_ec2_inventory_use_contrib_script_compatible_ec2_tag_keys.yaml
  changelogs/fragments/43-ec2_metadata_facts-IMDSv2.yml
  changelogs/fragments/57-aws_ec2-support-for-templates.yml
  changelogs/fragments/ignore_212.yml
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_elb_lb_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_metadata_facts_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  galaxy.yml
Labels: community_review, docs, feature, gate

#345 s3_bucket/test: use one bucket per scenario
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/complex.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/dotted.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/encryption_kms.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/encryption_sse.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/missing.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/public_access.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/simple.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/tags.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/templates/policy-updated.json
  tests/integration/targets/s3_bucket/roles/s3_bucket/templates/policy.json
Labels: gate, integration, needs_info, needs_template, plugins, tests

#252 Refactor ec2_vpc_dhcp_option to use boto3 (breaking change)
  changelogs/fragments/252_boto3_refactor_ec2_vpc_dhcp_option.yaml
  plugins/module_utils/ec2.py
  plugins/modules/ec2_vpc_dhcp_option.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
  tests/integration/targets/ec2_vpc_dhcp_option/tasks/main.yml
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/test_ec2_vpc_dhcp_option.py
Labels: community_review, feature, gate, integration, module, module_utils, needs_maintainer, new_plugin, plugins, tests

#346 ec2_vol: Limit the scope of new botocore requirements
  changelogs/fragments/346-ec2_vol-boto3-requirements.yml
  plugins/modules/ec2_vol.py
Labels: community_review, feature, gate, module, owner_pr, plugins

#349 Update codecov.sh URL
  tests/utils/shippable/shippable.sh
Labels: community_review, docs, gate, needs_triage, small_patch, tests
