Repository ansible-collections/amazon.aws, pull requests merged in 2021-06, with the labels that each got.

#379 README.md, CONTRIBUTING.md: Freenode -> Libera.Chat
  CONTRIBUTING.md
  README.md
Labels: community_review, docs, gate

#372 aws_s3/test: keep length of name below 63 char
  tests/integration/targets/aws_s3/defaults/main.yml
Labels: community_review, gate, integration, plugins, small_patch, tests

#381 ignore py2 errors
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/sanity/refresh_ignore_files
Labels: community_review, gate, needs_triage, tests

#371 ec2_vol: Fix iops setting and enforce iops/throughput parameters usage
  changelogs/fragments/334-ec2_vol-iops-and-throughput-issues.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#370 Improve state and config changes in ec2_instance
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/inventory
  tests/integration/targets/ec2_instance/roles/ec2_instance/defaults/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/iam_instance_role.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/state_config_updates.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#383 Add volume tags key with empty dict and test
  changelogs/fragments/383_ec2_snapshot_tags.yml
  plugins/modules/ec2_snapshot.py
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#335 aws_s3: add S3 object tagging feature
  changelogs/fragments/335-aws_s3-tagging-object-feature.yaml
  plugins/modules/aws_s3.py
  tests/integration/targets/aws_s3/tasks/main.yml
Labels: community_review, feature, gate, has_issue, integration, module, plugins, tests

#386 Add fix to change the no_device parameter value to string
  changelogs/fragments/386_ec2_ami_no_device.yml
  plugins/modules/ec2_ami.py
  tests/integration/targets/ec2_ami/tasks/main.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#365 ec2_vol support MultiAttach disk
  changelogs/fragments/362-ec2_vol-add-multi-attach-parameter.yml
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vol_info.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: community_review, feature, gate, has_issue, integration, module, plugins, tests

#391 s3_bucket - handle "NotImplemented" for encryption
  changelogs/fragments/391-s3_bucket-enc_notimplemented.yml
  plugins/modules/s3_bucket.py
Labels: bug, community_review, gate, module, owner_pr, plugins
