Repository ansible-collections/amazon.aws, pull requests merged in 2021-01, with the labels that each got.

#213 Add AWSRetry to ec2_key
  changelogs/fragments/213-ec2_key-retries.yml
  plugins/modules/ec2_key.py
Labels: needs_triage

#192 Adds the ability to use bypath to aws_secrets lookup
  changelogs/fragments/192-aws_secret-bypath-option.yaml
  plugins/lookup/aws_secret.py
  tests/unit/plugins/lookup/test_aws_secret.py
Labels: priority/low

#215 ec2_vol support for gp3 volume
  changelogs/fragments/215-gp3-and-change-support-for-ec2_vol.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/main.yml
  tests/integration/targets/ec2_vol/meta/main.yml
  tests/integration/targets/ec2_vol/tasks/main.yml
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: community_review, feature, has_issue, integration, module, new_contributor, plugins, priority/medium, tests

#240 Update aws_s3.py
  plugins/modules/aws_s3.py
Labels: community_review, docs, module, needs_triage, new_contributor, plugins, small_patch

#234 elbv2: action comparaison, handle ForwardConfig dict
  plugins/module_utils/elbv2.py
  tests/unit/module_utils/test_elbv2.py
Labels: bug, community_review, has_issue, module_utils, plugins, tests

#224 Initial integration tests for ec2_vpc_dhcp_option
  tests/integration/targets/ec2_vpc_dhcp_option/aliases
  tests/integration/targets/ec2_vpc_dhcp_option/defaults/main.yml
  tests/integration/targets/ec2_vpc_dhcp_option/tasks/main.yml
Labels: community_review, integration, plugins, tests

#241 ec2_vol: returns an up to date tag dict of the volume
  changelogs/fragments/241_ec2_vol-returns-an-up-to-date-tag-dict-of-the-volume.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: has_issue, integration, module, needs_info, needs_revision, needs_template, plugins, tests

#247 Fix typo in cloudformation_info.py module docs
  plugins/modules/cloudformation_info.py
Labels: community_review, docs, module, needs_triage, new_contributor, plugins, small_patch

#237 remove instance-state-name inverse filters in favor of standard value…
  changelogs/fragments/237_replace_inverse_ec2_aws_filter.yaml
  plugins/modules/ec2.py
  tests/integration/targets/ec2/tasks/main.yml
Labels: bug, community_review, has_issue, integration, module, new_contributor, plugins, tests

#201 [AWS Secret Lookup] Support querying logically nested secrets
  plugins/lookup/aws_secret.py
  tests/unit/plugins/lookup/test_aws_secret.py
Labels: community_review, feature, lookup, new_contributor, plugins, tests
