Repository ansible-collections/amazon.aws, pull requests merged in 2021-09, with the labels that each got.

#485 Refactor test code for fetching AMIs and AZs
  plugins/modules/ec2_vol.py
  tests/integration/targets/cloudformation/defaults/main.yml
  tests/integration/targets/cloudformation/meta/main.yml
  tests/integration/targets/cloudformation/tasks/main.yml
  tests/integration/targets/ec2/defaults/main.yml
  tests/integration/targets/ec2/meta/main.yml
  tests/integration/targets/ec2/tasks/main.yml
  tests/integration/targets/ec2_ami/defaults/main.yml
  tests/integration/targets/ec2_ami/meta/main.yml
  tests/integration/targets/ec2_ami/tasks/main.yml
  tests/integration/targets/ec2_eni/defaults/main.yml
  tests/integration/targets/ec2_eni/meta/main.yml
  tests/integration/targets/ec2_eni/tasks/main.yaml
  tests/integration/targets/ec2_group/tasks/main.yml
  tests/integration/targets/ec2_snapshot/meta/main.yml
  tests/integration/targets/ec2_snapshot/tasks/main.yml
  tests/integration/targets/ec2_vol/aliases
  tests/integration/targets/ec2_vol/defaults/main.yml
  tests/integration/targets/ec2_vol/meta/main.yml
  tests/integration/targets/ec2_vol/tasks/main.yml
  tests/integration/targets/ec2_vol/tasks/tests.yml
  tests/integration/targets/ec2_vpc_route_table/defaults/main.yml
  tests/integration/targets/ec2_vpc_route_table/meta/main.yml
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
  tests/integration/targets/ec2_vpc_subnet/defaults/main.yml
  tests/integration/targets/ec2_vpc_subnet/meta/main.yml
  tests/integration/targets/ec2_vpc_subnet/tasks/main.yml
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/integration/targets/setup_botocore_pip/handlers/main.yml
  tests/integration/targets/setup_botocore_pip/tasks/cleanup.yml
  tests/integration/targets/setup_botocore_pip/tasks/main.yml
  tests/integration/targets/setup_ec2_facts/defaults/main.yml
  tests/integration/targets/setup_ec2_facts/tasks/main.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, gate

#491 Backport - Fixup / ignore new pylint 2.9.3 issues
  changelogs/fragments/460-pylint.yml
  tests/integration/targets/ec2_vol/aliases
  tests/sanity/ignore-2.12.txt
  tests/unit/mock/loader.py
  tests/unit/module_utils/test_elbv2.py
Labels: bug, integration, tests, community_review, plugins, gate

#481 ec2_instance: wait on instance state, rather than status check
  changelogs/fragments/481-ec2_instance-wait_sanity.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/aliases
  tests/integration/targets/ec2_instance/inventory
  tests/integration/targets/ec2_instance/main.yml
  tests/integration/targets/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/defaults/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/block_devices.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/checkmode_tests.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/cpu_options.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/default_vpc_tests.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/ebs_optimized.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/env_cleanup.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/env_setup.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/external_resource_attach.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/iam_instance_role.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/instance_no_wait.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/metadata_options.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/security_group.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/state_config_updates.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/tags_and_vpc_settings.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/termination_protection.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/uptime.yml
  tests/integration/targets/setup_ec2_facts/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, gate

#479 ec2_vol: backport to stable-1.5 to fix modify_volume size option bug
  changelogs/fragments/334-ec2_vol-iops-and-throughput-issues.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: bug, integration, module, tests, community_review, plugins, gate

#486 ec2_vol: backport fix incorrectly returned changed result
  changelogs/fragments/486-ec2_vol_fixed_returned_changed_var.yml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/tests.yml
Labels: bug, integration, module, tests, community_review, plugins, gate

#495 increase concurrency of ec2_instance tests
  tests/integration/targets/ec2_instance/main.yml
Labels: feature, integration, tests, python3, community_review, needs_triage, plugins, small_patch, gate

#490 Don't emit warning when VPC has IPv6 CIDR associated
  plugins/modules/ec2_vpc_net.py
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, small_patch, gate

#497 Wait for instance to start before attempting to attach a volume
  tests/integration/targets/ec2_vol/aliases
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: bug, integration, tests, python3, community_review, needs_triage, plugins, gate

#499 ec2_spot_instance cleanup imports
  plugins/modules/ec2_spot_instance.py
Labels: bug, owner_pr, module, community_review, needs_triage, plugins, small_patch, gate

#487 ec2_spot_instance_info: add new module for describing spot instance requests
  changelogs/fragments/487-ec2_spot_instance_info-add-new-module.yml
  meta/runtime.yml
  plugins/modules/ec2_spot_instance_info.py
  tests/integration/targets/ec2_spot_instance/aliases
  tests/integration/targets/ec2_spot_instance/tasks/main.yaml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, gate

#496 rework s3_bucket and ec2_instance tests to make sure they have the right botocore available for tests needing recent botocore
  tests/integration/targets/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/block_devices.yml
  tests/integration/targets/s3_bucket/meta/main.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/meta/main.yml
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/ownership_controls.yml
Labels: feature, integration, tests, community_review, needs_triage, plugins, gate

#498 ec2_metadata_facts - tests - Wait for instance to reach running state before trying to SSH into it.
  tests/integration/requirements.txt
  tests/integration/targets/ec2_metadata_facts/aliases
  tests/integration/targets/ec2_metadata_facts/meta/main.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/teardown.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/test_metadata.yml
  tests/integration/targets/ec2_metadata_facts/templates/inventory.j2
  tests/integration/targets/setup_ec2_facts/defaults/main.yml
  tests/integration/targets/setup_ec2_facts/tasks/main.yml
  tests/integration/targets/setup_sshkey/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, gate

#500 Add debugging info to ENI tests
  tests/integration/targets/ec2_eni/tasks/main.yaml
Labels: feature, integration, tests, python3, community_review, plugins, small_patch, gate

#501 ec2_eni - Increase timeout when waiting for ENIs to detach
  changelogs/fragments/501-ec2_eni-timeout.yml
  plugins/modules/ec2_eni.py
  tests/integration/targets/ec2_eni/aliases
Labels: bug, integration, module, tests, python3, community_review, needs_triage, plugins, gate

#488 Rewrite of cloud.py with a new licence
  plugins/module_utils/cloud.py
  tests/unit/module_utils/test_cloud.py
Labels: feature, module_utils, tests, community_review, plugins

#502 Bump botocore to 1.18.0 prior to 2.0.0
  README.md
  changelogs/fragments/442-boto3-minimums.yml
  plugins/doc_fragments/aws.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
  plugins/module_utils/core.py
  requirements.txt
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/unit/module_utils/core/ansible_aws_module/test_minimal_versions.py
  tests/unit/requirements.txt
Labels: feature, integration, lookup, module_utils, tests, community_review, needs_triage, plugins

#430 Add support for ipv6 addresses
  changelogs/fragments/430-add_support_for_ipv6_addresses.yml
  plugins/lookup/aws_service_ip_ranges.py
  tests/integration/targets/lookup_aws_service_ip_ranges/tasks/main.yaml
Labels: new_contributor, feature, has_issue, integration, lookup, tests, community_review, plugins, gate

#506 Prepare 1.5.1 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/334-ec2_vol-iops-and-throughput-issues.yaml
  changelogs/fragments/460-pylint.yml
  changelogs/fragments/486-ec2_vol_fixed_returned_changed_var.yml
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.ec2_vol_module.rst
  galaxy.yml
Labels: feature, community_review, needs_triage, docs, gate

#404 Add constraints.txt and requirements.txt for unit/integration tests
  requirements.txt
  test-requirements.txt
  tests/integration/constraints.txt
  tests/integration/requirements.txt
  tests/integration/targets/ec2_ami/aliases
  tests/integration/targets/ec2_instance/aliases
  tests/integration/targets/ec2_vpc_subnet/aliases
  tests/unit/constraints.txt
  tests/unit/requirements.txt
Labels: feature, integration, tests, community_review, plugins, gate

#513 Copy ignore-2.12.txt to ignore-2.13.txt
  tests/sanity/ignore-2.13.txt
Labels: needs_info, needs_template, tests, needs_triage, gate

#377 ec2_elb_lb boto3 migration
  changelogs/fragments/377-ec2_elb_lb-boto3.yml
  meta/runtime.yml
  plugins/module_utils/waiters.py
  plugins/modules/ec2_elb_lb.py
  plugins/modules/elb_classic_lb.py
  tests/integration/targets/ec2_elb_lb/aliases
  tests/integration/targets/ec2_elb_lb/defaults/main.yml
  tests/integration/targets/ec2_elb_lb/tasks/main.yml
  tests/integration/targets/elb_classic_lb/aliases
  tests/integration/targets/elb_classic_lb/defaults/main.yml
  tests/integration/targets/elb_classic_lb/meta/main.yml
  tests/integration/targets/elb_classic_lb/tasks/basic_internal.yml
  tests/integration/targets/elb_classic_lb/tasks/basic_public.yml
  tests/integration/targets/elb_classic_lb/tasks/cleanup_instances.yml
  tests/integration/targets/elb_classic_lb/tasks/cleanup_s3.yml
  tests/integration/targets/elb_classic_lb/tasks/cleanup_vpc.yml
  tests/integration/targets/elb_classic_lb/tasks/describe_region.yml
  tests/integration/targets/elb_classic_lb/tasks/main.yml
  tests/integration/targets/elb_classic_lb/tasks/missing_params.yml
  tests/integration/targets/elb_classic_lb/tasks/schema_change.yml
  tests/integration/targets/elb_classic_lb/tasks/setup_instances.yml
  tests/integration/targets/elb_classic_lb/tasks/setup_s3.yml
  tests/integration/targets/elb_classic_lb/tasks/setup_vpc.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_changes.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_cross_az.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_draining_timeout.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_healthcheck.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_idle_timeout.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_instances.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_listeners.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_logging.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_proxy_policy.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_securitygroups.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_stickiness.yml
  tests/integration/targets/elb_classic_lb/tasks/simple_tags.yml
  tests/integration/targets/elb_classic_lb/templates/s3_policy.j2
  tests/integration/targets/elb_classic_lb/vars/main.yml
Labels: new_plugin, new_module, feature, has_issue, integration, module, module_utils, tests, community_review, plugins, gate
