Repository ansible-collections/amazon.aws, pull requests merged in 2022-11, with the labels that each got.

#1229 Disable broken RDS tests
  changelogs/fragments/1129-disable-rds_cluster.yml
  tests/integration/targets/rds_cluster_create/aliases
  tests/integration/targets/rds_cluster_create_sgs/aliases
  tests/integration/targets/rds_cluster_restore/aliases
  tests/integration/targets/rds_cluster_tag/aliases
Labels: feature, integration, tests, community_review, needs_triage, mergeit

#1214 ec2_security_group - Move validation for rules into the arg_spec
  changelogs/fragments/20221027-ec2_security_group-arg_spec.yml
  plugins/modules/ec2_security_group.py
  tests/integration/targets/ec2_security_group/tasks/main.yml
  tests/integration/targets/setup_ec2_vpc/tasks/cleanup.yml
  tests/unit/plugins/modules/ec2_security_group/test_validate_rule.py
Labels: new_plugin, feature, has_issue, integration, module, tests, community_review, plugins, needs_maintainer, mergeit, backport-5

#1220 Update changelog to reflect the 5.1.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1148-build_run_instance_spec.yml
  changelogs/fragments/1150-ec2_instance-fix-instance-creation-in-az.yml
  changelogs/fragments/1152-missing-botocore.yml
  changelogs/fragments/1163-map_complex_type.yml
  changelogs/fragments/1172-credentials_parameters.yml
  changelogs/fragments/20221010-test-times.yml
  changelogs/fragments/20221021-ec2_instance-tower_callback.yml
  changelogs/fragments/20221026-pytest-forked.yml
  changelogs/fragments/20221027-ec2_security_group-nested.yml
  changelogs/fragments/DEPRECATE-module_utils-urls.yml
  changelogs/fragments/version_added-5.yml
  changelogs/fragments/workflows-add-intersphinx.yml
Labels: community_review, needs_triage, docs, mergeit

#1222 route53_health_check: bump up version_added for measure_latency
  changelogs/fragments/1222-route53_health_check-bump-up-version_added.yml
  plugins/modules/route53_health_check.py
Labels: bug, module, community_review, needs_triage, plugins, small_patch, mergeit

#1226 Fix non-matching defaults in docs
  changelogs/fragments/1226-defaults.yml
  plugins/modules/autoscaling_group.py
  plugins/modules/cloudtrail_info.py
  plugins/modules/cloudwatch_metric_alarm.py
  plugins/modules/cloudwatchevent_rule.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_ami_info.py
  plugins/modules/ec2_eni.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_instance_info.py
  plugins/modules/ec2_snapshot.py
  plugins/modules/ec2_spot_instance.py
  plugins/modules/ec2_spot_instance_info.py
  plugins/modules/ec2_vol_info.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_endpoint_service_info.py
  plugins/modules/ec2_vpc_igw_info.py
  plugins/modules/ec2_vpc_nat_gateway_info.py
  plugins/modules/ec2_vpc_net_info.py
  plugins/modules/ec2_vpc_route_table.py
  plugins/modules/ec2_vpc_subnet.py
  plugins/modules/ec2_vpc_subnet_info.py
  plugins/modules/iam_user.py
  plugins/modules/kms_key.py
  plugins/modules/lambda.py
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_event.py
  plugins/modules/rds_cluster.py
  plugins/modules/rds_option_group_info.py
  plugins/modules/s3_object.py
Labels: has_issue, module, community_review, docs, plugins, mergeit

#1221 ec2_security_group - refacter get_target_from_rule()
  changelogs/fragments/1221-ec2_security_group.yml
  plugins/modules/ec2_security_group.py
  tests/unit/plugins/modules/ec2_security_group/test_get_target_from_rule.py
  tests/unit/plugins/modules/ec2_security_group/test_validate_ip.py
  tests/unit/plugins/modules/test_ec2_security_group.py
Labels: new_plugin, feature, integration, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1234 use ec2_ami to test ec2_snapshot_info
  changelogs/fragments/use_ec2_ami_to_test_ec2_snapshot_info.yaml
  tests/integration/targets/ec2_ami/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, plugins, small_patch, mergeit

#1235 ec2_snapshot: reenable the integration tests
  changelogs/fragments/ec2_snapshot_reenable_the_integration_tests.yaml
  tests/integration/targets/ec2_snapshot/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, plugins, mergeit

#1211 ec2_snapshot_info/tests: add unit-tests
  changelogs/fragments/unit-tests_test_ec2_snapshot_info_only.yaml
  plugins/modules/ec2_snapshot_info.py
  tests/unit/plugins/modules/test_ec2_snapshot_info.py
Labels: new_plugin, module, tests, python3, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1230 Move RetryingBotoClientWrapper into module_utils.retries
  changelogs/fragments/1230-move-RetryingBotoClientWrapper.yml
  plugins/module_utils/modules.py
  plugins/module_utils/retries.py
  plugins/module_utils/waiters.py
  tests/unit/module_utils/retries/test_botocore_exception_maybe.py
  tests/unit/module_utils/retries/test_retry_wrapper.py
  tests/unit/plugins/modules/test_cloudformation.py
Labels: feature, module, module_utils, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1237 clean up 1129-disable-rds_cluster.yml changelog fragment
  changelogs/fragments/1129-disable-rds_cluster.yml
Labels: needs_info, needs_template, owner_pr, needs_triage, mergeit

#1238 Bump MariaDB versions for RDS tests
  changelogs/fragments/rds_mariadb_version-10.6.10.yml
  tests/integration/targets/rds_instance_complex/defaults/main.yml
  tests/integration/targets/rds_instance_modify/defaults/main.yml
  tests/integration/targets/rds_instance_snapshot/defaults/main.yml
  tests/integration/targets/rds_instance_upgrade/defaults/main.yml
Labels: bug, integration, tests, community_review, plugins, mergeit

#1239 rds_instance_aurora/tests: increase the max job duration
  changelogs/fragments/integration_tests_max_duration_increase.yaml
  tests/integration/targets/rds_instance_aurora/aliases
Labels: needs_info, needs_template, integration, tests, small_patch, mergeit

#1241 ec2_security_group - fix bug in handling of `ports: -1`
  changelogs/fragments/20221103-ec2_security_group_-1.yml
  plugins/modules/ec2_security_group.py
  tests/integration/targets/ec2_security_group/tasks/numeric_protos.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-5

#1193 Refactor s3_object module to reduce complexity
  changelogs/fragments/1193-s3_object_refactor.yaml
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/tasks/copy_object_acl_disabled_bucket.yml
  tests/unit/plugins/modules/test_s3_object.py
Labels: bug, new_plugin, integration, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1245 More integration test timing
  changelogs/fragments/20221103-tests.yml
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/rds_instance_states/aliases
Labels: feature, integration, tests, community_review, needs_triage, plugins, small_patch, mergeit

#1242 tox: add description
  tox.ini
Labels: community_review, needs_triage, small_patch, mergeit

#1246 Move exceptions into their own python module
  changelogs/fragments/20221104-exceptions.yml
  plugins/module_utils/core.py
  plugins/module_utils/exceptions.py
  tests/unit/module_utils/exceptions/test_exceptions.py
Labels: new_plugin, feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1248 Refacter docs fragments and synchronize modules and plugins
  changelogs/fragments/1248-docs.yml
  docs/docsite/rst/dev_guidelines.rst
  plugins/doc_fragments/aws.py
  plugins/doc_fragments/aws_credentials.py
  plugins/doc_fragments/aws_region.py
  plugins/doc_fragments/boto3.py
  plugins/doc_fragments/common.py
  plugins/doc_fragments/ec2.py
  plugins/doc_fragments/region.py
  plugins/doc_fragments/tags.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
Labels: new_plugin, lookup, module_utils, community_review, needs_triage, docs, plugins, mergeit

#1225 Refacter lookup plugins
  changelogs/fragments/1225-refacter-lookup.yml
  meta/runtime.yml
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_service_ip_ranges.py
  plugins/lookup/secretsmanager_secret.py
  plugins/lookup/ssm_parameter.py
  plugins/plugin_utils/base.py
  plugins/plugin_utils/botocore.py
  plugins/plugin_utils/lookup.py
  tests/integration/targets/lookup_secretsmanager_secret/aliases
  tests/integration/targets/lookup_secretsmanager_secret/meta/main.yml
  tests/integration/targets/lookup_secretsmanager_secret/tasks/main.yaml
  tests/integration/targets/lookup_ssm_parameter/aliases
  tests/integration/targets/lookup_ssm_parameter/defaults/main.yml
  tests/integration/targets/lookup_ssm_parameter/meta/main.yml
  tests/integration/targets/lookup_ssm_parameter/tasks/main.yml
  tests/unit/module_utils/botocore/test_boto3_conn.py
  tests/unit/module_utils/modules/ansible_aws_module/test_passthrough.py
  tests/unit/plugin_utils/base/test_plugin.py
  tests/unit/plugin_utils/botocore/test_boto3_conn_plugin.py
  tests/unit/plugin_utils/botocore/test_get_aws_region.py
  tests/unit/plugin_utils/botocore/test_get_connection_info.py
  tests/unit/plugin_utils/lookup/test_lookup_base.py
  tox.ini
Labels: new_plugin, feature, integration, lookup, module_utils, tests, community_review, needs_triage, docs, plugins, needs_maintainer, mergeit

#1255 Fix async test failures
  changelogs/fragments/1255-async-tests.yml
  tests/integration/targets/autoscaling_group/aliases
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/main.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/s3_object/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, mergeit

#1256 Wait for ec2_instances to start if we're testing state
  changelogs/fragments/1256-ec2_instance-running.yml
  tests/integration/targets/ec2_instance_instance_multiple/tasks/main.yml
  tests/integration/targets/ec2_instance_security_group/tasks/main.yml
  tests/integration/targets/ec2_instance_uptime/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, mergeit

#1249 Fix ec2_metadata_facts integration test
  changelogs/fragments/20221107-metadata_test.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, small_patch, mergeit

#1258 Replace 'slow' with time approximations from periodic builds
  changelogs/fragments/1258-slow.yml
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_classic_lb/aliases
  tests/integration/targets/rds_instance_snapshot/aliases
Labels: feature, integration, tests, community_review, plugins, mergeit

#1259 ec2_instance integration test fixups
  changelogs/fragments/1258-ec2_instance.yml
  tests/integration/targets/ec2_instance_block_devices/defaults/main.yml
  tests/integration/targets/ec2_instance_checkmode_tests/defaults/main.yml
  tests/integration/targets/ec2_instance_cpu_options/defaults/main.yml
  tests/integration/targets/ec2_instance_default_vpc_tests/defaults/main.yml
  tests/integration/targets/ec2_instance_ebs_optimized/defaults/main.yml
  tests/integration/targets/ec2_instance_external_resource_attach/defaults/main.yml
  tests/integration/targets/ec2_instance_hibernation_options/defaults/main.yml
  tests/integration/targets/ec2_instance_iam_instance_role/defaults/main.yml
  tests/integration/targets/ec2_instance_instance_minimal/defaults/main.yml
  tests/integration/targets/ec2_instance_instance_multiple/defaults/main.yml
  tests/integration/targets/ec2_instance_instance_no_wait/defaults/main.yml
  tests/integration/targets/ec2_instance_metadata_options/defaults/main.yml
  tests/integration/targets/ec2_instance_security_group/defaults/main.yml
  tests/integration/targets/ec2_instance_state_config_updates/defaults/main.yml
  tests/integration/targets/ec2_instance_tags_and_vpc_settings/defaults/main.yml
  tests/integration/targets/ec2_instance_termination_protection/defaults/main.yml
  tests/integration/targets/ec2_instance_uptime/defaults/main.yml
  tests/integration/targets/ec2_snapshot/tasks/main.yml
  tests/integration/targets/setup_ec2_instance_env/defaults/main.yml
  tests/integration/targets/setup_ec2_instance_env/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, mergeit

#1200 route53_health_check: Add health_check info on updating health check
  changelogs/fragments/1200-route53_health_check-return-health-check-info-on-updating.yml
  plugins/modules/route53_health_check.py
  tests/integration/targets/route53_health_check/defaults/main.yml
  tests/integration/targets/route53_health_check/tasks/create_multiple_health_checks.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit

#1267 ec2_vpc_nat_gateway: Add support for connectivity_type = private
  changelogs/fragments/1267-ec2_vpc_nat_gateway_connectivitytype.yml
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1265 Refactor module_utils/cloudfront_facts and add unit tests
  changelogs/fragments/module_utils_cloudfront_facts_unit_tests.yml
  plugins/module_utils/cloudfront_facts.py
  tests/unit/module_utils/test_cloudfront_facts.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1269 Fix inventory test error handling
  changelogs/fragments/1269-inventory_tests.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_hostvars_prefix_suffix.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_rds/runme.sh
Labels: bug, integration, tests, community_review, mergeit

#1272 ec2_snapshot/tests: wait until the snapshots are available
  changelogs/fragments/ec2_snapshot_tests_improve_reliability.yaml
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: needs_info, needs_template, integration, tests, plugins, mergeit

#1209 lambda_event: Add support for FunctionResponseTypes
  changelogs/fragments/1209-lambda_event-add-support-for-function_response_types.yml
  plugins/modules/lambda_event.py
  tests/integration/targets/lambda_event/aliases
  tests/integration/targets/lambda_event/defaults/main.yml
  tests/integration/targets/lambda_event/files/mini_lambda.py
  tests/integration/targets/lambda_event/files/minimal_trust_policy.json
  tests/integration/targets/lambda_event/meta/main.yml
  tests/integration/targets/lambda_event/tasks/main.yml
  tests/integration/targets/lambda_event/tasks/setup.yml
  tests/integration/targets/lambda_event/tasks/teardown.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1275 lambda_execute: allow function arn instead of name
  changelogs/fragments/1268-lambda-execute-arn.yml
  plugins/modules/lambda_execute.py
  tests/integration/targets/lambda/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-5

#1276 add .gitignore for inventory automatically created by integration tests
  changelogs/fragments/1276-gitignore-inventory.yml
  tests/integration/.gitignore
Labels: bug, new_contributor, integration, tests, community_review, needs_triage, mergeit

#1280 Sanity fix for changelog fragment
  changelogs/fragments/1268-lambda-execute-arn.yml
Labels: bug, owner_pr, community_review, needs_triage, mergeit

#1271 Refactor inventory plugin connection handling
  changelogs/fragments/1271-inventory-connections.yml
  plugins/doc_fragments/assume_role.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/plugin_utils/base.py
  plugins/plugin_utils/inventory.py
  tests/unit/plugin_utils/base/test_plugin.py
  tests/unit/plugin_utils/inventory/test_inventory.py
  tests/unit/plugin_utils/inventory/test_inventory_base.py
  tests/unit/plugin_utils/inventory/test_inventory_clients.py
  tests/unit/plugins/inventory/test_aws_ec2.py
  tests/unit/plugins/inventory/test_aws_rds.py
Labels: new_plugin, feature, has_issue, inventory, tests, community_review, needs_triage, plugins, mergeit

#1286 Minor docs tweaks
  changelogs/fragments/20221124-docs-cleanup.yml
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, needs_triage, docs, mergeit

#1279 lambda - Fix flaky integration tests which assume there are no other functions in the account
  changelogs/fragments/1277-lambda-int-test-other-lambdas.yml
  tests/integration/inventory
  tests/integration/targets/lambda/tasks/main.yml
Labels: bug, has_issue, integration, tests, community_review, plugins, mergeit

#1285 inventory plugins - yet more refactoring
  changelogs/fragments/1285-inventory-refactor.yml
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/plugin_utils/inventory.py
  tests/unit/plugin_utils/inventory/test_inventory_base.py
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: feature, inventory, tests, community_review, needs_triage, plugins, mergeit

#1278 docs: Add more information about running integration tests
  CONTRIBUTING.md
  README.md
  changelogs/fragments/924-contributing-docs.yml
Labels: community_review, needs_triage, docs, mergeit

#1273 refactor module_utils.acm and add unit tests
  changelogs/fragments/module_utils_acm-unit-testing.yml
  plugins/module_utils/acm.py
  tests/unit/module_utils/test_acm.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1253 route53_health_check: Fix "Name" tag key removal idempotentcy issue
  changelogs/fragments/1253-route53_health_check-fix-name-tag-key-removal-idempotentcy-issue.yml
  plugins/modules/route53_health_check.py
  tests/integration/targets/route53_health_check/tasks/create_multiple_health_checks.yml
  tests/integration/targets/route53_health_check/tasks/main.yml
  tests/integration/targets/route53_health_check/tasks/named_health_check_tag_operations.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit
