Repository ansible-collections/amazon.aws, pull requests merged in 2022-08, with the labels that each got.

#946 Remove deprecated AWSRetry.backoff usage
  changelogs/fragments/946-retries.yml
  plugins/module_utils/acm.py
  plugins/module_utils/waf.py
Labels: needs_revision, feature, has_issue, module_utils, plugins, gate, mergeit

#948 Prepare release 4.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1089-elb_application_lb-ForwardConfig-KeyError.yml
  changelogs/fragments/862-aws_ec2-hostnames.yml
  changelogs/fragments/882-s3_bucket-bucket-keys.yml
  changelogs/fragments/914-elb_classic_lb-security_group_names.yml
  changelogs/fragments/927-ec2_instance-retries.yml
  changelogs/fragments/python.yml
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: feature, community_review, docs, mergeit

#947 Prepare release 3.4.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/1089-elb_application_lb-ForwardConfig-KeyError.yml
  changelogs/fragments/914-elb_classic_lb-security_group_names.yml
  changelogs/fragments/927-ec2_instance-retries.yml
  galaxy.yml
Labels: feature, community_review, mergeit

#949 Post 3.4.0 / 4.1.0 cleanup
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/1089-elb_application_lb-ForwardConfig-KeyError.yml
  changelogs/fragments/862-aws_ec2-hostnames.yml
  changelogs/fragments/882-s3_bucket-bucket-keys.yml
  changelogs/fragments/914-elb_classic_lb-security_group_names.yml
  changelogs/fragments/927-ec2_instance-retries.yml
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_security_group_info_module.rst
  docs/amazon.aws.ec2_security_group_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  docs/amazon.aws.s3_object_module.rst
Labels: needs_rebase, needs_revision, community_review, needs_triage, docs, mergeit

#951 Bump CloudRetry.backoff deprecation to 6.0.0
  changelogs/fragments/951-cloudretry.yml
  plugins/module_utils/cloud.py
  tests/unit/module_utils/test_cloud.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit, backport-4

#904 aws_ec2 doc guide
  docs/docsite/extra-docs.yml
  docs/docsite/rst/aws_ec2_guide.rst
  docs/docsite/rst/guide_aws.rst
Labels: community_review, docs, backport-3, mergeit, backport-4

#955 ec2_vol - integration test stability
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vol_info.py
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#958 Minor linting fixups - 2022-08-08
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
  plugins/module_utils/rds.py
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: feature, inventory, lookup, module_utils, tests, community_review, plugins, mergeit, backport-4

#961 Unit test cleanup
  tests/unit/module_utils/arn/test_is_outpost_arn.py
  tests/unit/module_utils/arn/test_parse_aws_arn.py
  tests/unit/module_utils/botocore/test_is_boto3_error_code.py
  tests/unit/module_utils/botocore/test_is_boto3_error_message.py
  tests/unit/module_utils/botocore/test_normalize_boto3_result.py
  tests/unit/module_utils/cloud/test_backoff_iterator.py
  tests/unit/module_utils/cloud/test_cloud_retry.py
  tests/unit/module_utils/core/test_is_boto3_error_code.py
  tests/unit/module_utils/core/test_parse_aws_arn.py
  tests/unit/module_utils/ec2/__init__.py
  tests/unit/module_utils/modules/ansible_aws_module/test_fail_json_aws.py
  tests/unit/module_utils/modules/ansible_aws_module/test_minimal_versions.py
  tests/unit/module_utils/modules/ansible_aws_module/test_require_at_least.py
  tests/unit/module_utils/policy/test_compare_policies.py
  tests/unit/module_utils/retries/test_awsretry.py
  tests/unit/module_utils/test_elbv2.py
  tests/unit/module_utils/test_iam.py
  tests/unit/module_utils/test_rds.py
  tests/unit/module_utils/test_retries.py
  tests/unit/module_utils/test_tagging.py
  tests/unit/module_utils/transformation/test_ansible_dict_to_boto3_filter_list.py
  tests/unit/module_utils/transformation/test_map_complex_type.py
  tests/unit/module_utils/transformation/test_scrub_none_parameters.py
  tests/unit/plugins/inventory/test_aws_ec2.py
  tests/unit/plugins/modules/test_aws_s3.py
  tests/unit/plugins/modules/test_cloudformation.py
  tests/unit/plugins/modules/test_s3_object.py
Labels: new_plugin, feature, module, tests, community_review, needs_triage, needs_maintainer, mergeit

#953 Minor linting fixups - 2022-08-04
  plugins/module_utils/acm.py
  plugins/module_utils/botocore.py
  plugins/module_utils/cloud.py
  plugins/module_utils/cloudfront_facts.py
  plugins/module_utils/iam.py
  plugins/module_utils/modules.py
Labels: feature, inventory, lookup, module_utils, tests, community_review, plugins, mergeit, backport-4

#967 fix ignore_nonexistent_bucket bug for listing (#966)
  changelogs/fragments/966-ignore_nonexistent_bucket_list.yml
  plugins/modules/s3_object.py
Labels: bug, new_contributor, module, community_review, plugins, small_patch, mergeit

#968 Minor sanity test fixes (new devel)
  changelogs/fragments/968-sanity.yml
  plugins/action/s3_object.py
  plugins/module_utils/elbv2.py
  plugins/module_utils/waf.py
  plugins/modules/aws_caller_info.py
  plugins/modules/cloudformation.py
  plugins/modules/ec2_metadata_facts.py
  plugins/modules/ec2_security_group.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_nat_gateway.py
Labels: bug, action, module, module_utils, community_review, needs_triage, plugins, mergeit

#965 [PR #953 backport][stable-4] Minor linting fixups - 2022-08-04
  changelogs/fragments/965-linting.yml
  plugins/module_utils/acm.py
  plugins/module_utils/botocore.py
  plugins/module_utils/cloud.py
  plugins/module_utils/cloudfront_facts.py
  plugins/module_utils/iam.py
  plugins/module_utils/modules.py
Labels: feature, module_utils, community_review, plugins, mergeit

#971 ec2_security_group: Set rules->group_name's datatype as raw
  changelogs/fragments/638-ec2_security_group_group_name_datatype.yml
  plugins/modules/ec2_security_group.py
Labels: module, community_review, docs, plugins, backport-3, mergeit, backport-4
