Repository ansible-collections/amazon.aws, pull requests merged in 2022-07, with the labels that each got.

#882 updating module S3 Bucket Keys for SSE-KMS
  changelogs/fragments/882-s3_bucket-bucket-keys.yml
  plugins/modules/s3_bucket.py
  tests/integration/targets/s3_bucket/inventory
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/encryption_bucket_key.yml
Labels: new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-4

#915 Fix NoneType errors with elb_classic_lb
  changelogs/fragments/914-elb_classic_lb-security_group_names.yml
  plugins/modules/elb_classic_lb.py
  tests/integration/targets/elb_classic_lb/tasks/complex_changes.yml
  tests/integration/targets/elb_classic_lb/tasks/main.yml
Labels: bug, integration, module, tests, community_review, needs_triage, plugins, backport-2, backport-3, mergeit, backport-4

#917 Update ec2_vpc_dhcp_option_info to remove deprecated alias
  plugins/modules/ec2_vpc_dhcp_option_info.py
Labels: owner_pr, module, community_review, needs_triage, docs, plugins, small_patch, mergeit

#865 Update dev guidelines - add return values guidelines
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, docs, mergeit

#928 ec2_instance - expand use of AWSRetry
  changelogs/fragments/927-ec2_instance-retries.yml
  plugins/modules/ec2_instance.py
Labels: feature, owner_pr, module, community_review, plugins, backport-3, mergeit, backport-4

#929 elbv2 - Fix KeyError when passing two TGs
  changelogs/fragments/1089-elb_application_lb-ForwardConfig-KeyError.yml
  plugins/module_utils/elbv2.py
  tests/unit/module_utils/test_elbv2.py
Labels: bug, has_issue, module_utils, tests, python3, community_review, traceback, plugins, backport-3, mergeit, backport-4

#934 Bump botocore requirements
  README.md
  changelogs/fragments/botocore.yml
  plugins/doc_fragments/aws.py
  plugins/doc_fragments/aws_boto3.py
  plugins/module_utils/modules.py
  requirements.txt
  tests/integration/constraints.txt
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/unit/constraints.txt
  tests/unit/module_utils/core/ansible_aws_module/test_minimal_versions.py
Labels: feature, integration, module_utils, tests, community_review, plugins, mergeit, do_not_backport

#937 Attempt to sync README.md docs with community.aws where possible
  README.md
  changelogs/fragments/python.yml
Labels: community_review, docs, mergeit, backport-4

#921 s3_object: Add parameter `acl_disabled` to handle uploading files to buckets with ACL disabled.
  changelogs/fragments/921-s3_object-handle-file-upload-to-acl-disabled-bucket.yml
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/meta/main.yml
  tests/integration/targets/s3_object/tasks/copy_object_acl_disabled_bucket.yml
  tests/integration/targets/s3_object/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#940 More work on ELBv2 module_utils
  changelogs/fragments/604-elb_network_lb.yml
  plugins/module_utils/elbv2.py
  plugins/module_utils/waiters.py
  tests/integration/targets/elb_classic_lb/tasks/https_listeners.yml
  tests/unit/module_utils/elbv2/test_prune.py
  tests/unit/module_utils/test_elbv2.py
Labels: bug, has_issue, integration, module_utils, tests, community_review, needs_triage, plugins, mergeit

#943 ec2_metadata_facts - Fix read failure in ansible 2.13+
  changelogs/fragments/943-ec2_metadata_facts-fix-NoneType-callable.yml
  plugins/modules/ec2_metadata_facts.py
Labels: bug, new_contributor, module, community_review, plugins, small_patch, mergeit
