Repository ansible-collections/amazon.aws, pull requests merged in 2022-02, with the labels that each got.

#649 Splitup core.py and move non-EC2 code from ec2.py
  plugins/module_utils/arn.py
  plugins/module_utils/botocore.py
  plugins/module_utils/core.py
  plugins/module_utils/ec2.py
  plugins/module_utils/modules.py
  plugins/module_utils/transformation.py
  plugins/module_utils/version.py
  plugins/module_utils/waiters.py
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/test_cloudformation.py
Labels: new_plugin, feature, module, module_utils, tests, community_review, plugins, needs_maintainer, mergeit, do_not_backport

#652 Update ec2_instance.py
  plugins/modules/ec2_instance.py
Labels: module, community_review, needs_triage, docs, plugins, small_patch, backport-2, backport-3, mergeit

#646 Handle ResourceNotFoundException while iterating certificates
  changelogs/fragments/646-acm-resource-not-found.yml
  plugins/module_utils/acm.py
Labels: bug, new_contributor, has_issue, module_utils, python3, community_review, needs_triage, traceback, plugins, backport-3, mergeit

#636 Fix typo
  plugins/inventory/aws_ec2.py
Labels: new_contributor, inventory, community_review, plugins, small_patch, backport-2, backport-3, mergeit

#635 ipv4, ipv6, ipsubnet have moved from ansible.netcommon to ansible.utils
  test-requirements.txt
  tests/integration/requirements.txt
  tests/integration/targets/ec2_eni/tasks/main.yaml
  tests/integration/targets/ec2_eni/tasks/test_eni_basic_creation.yaml
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
  tests/integration/targets/lookup_aws_service_ip_ranges/tasks/main.yaml
  tests/requirements.yml
Labels: bug, new_contributor, integration, tests, community_review, plugins, backport-2, backport-3, mergeit

#615 Add the ability to disable the validate_bucket_name check
  changelogs/fragments/615-s3-validate_bucket_name.yml
  plugins/modules/aws_s3.py
  plugins/modules/s3_bucket.py
Labels: new_contributor, module, community_review, plugins, backport-3, mergeit

#665 Link PR in changelog
  changelogs/fragments/587-ec2_instance-default-instance-type-launch-template.yml
  changelogs/fragments/615-s3-validate_bucket_name.yml
Labels: owner_pr, community_review, backport-3, mergeit

#664 Prep 3.1.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/587-ec2_instance-default-instance-type-launch-template.yml
  changelogs/fragments/592-elb_classic_lb-handle-sg-ids-fix-tests.yml
  changelogs/fragments/593-aws_s3-fix-copy-when-missing-key.yml
  changelogs/fragments/595-aws_s3-add-latest-choice-on-overwrite-parameter.yml
  changelogs/fragments/597-ec2_vol-add-outpostarn-support.yml
  changelogs/fragments/601-ec2_vpc_route_table-ipv6-support.yml
  changelogs/fragments/603-ec2_vol-add-tags-on-creation.yml
  changelogs/fragments/606-ec2_vol-set-iops-even-if-unchanged-for-boto-req.yml
  changelogs/fragments/611-s3_bucket-add-support-for-acl.yml
  changelogs/fragments/614-ec2_key-add-support-for-ed25519-key-type.yml
  changelogs/fragments/615-s3-validate_bucket_name.yml
  changelogs/fragments/619-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  changelogs/fragments/646-acm-resource-not-found.yml
  changelogs/fragments/disutils.version.yml
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: bug, needs_rebase, needs_revision, community_review, needs_triage, mergeit

#667 Bring changelog changes of amazon.aws 3.1.0 from stable-3
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/592-elb_classic_lb-handle-sg-ids-fix-tests.yml
  changelogs/fragments/593-aws_s3-fix-copy-when-missing-key.yml
  changelogs/fragments/595-aws_s3-add-latest-choice-on-overwrite-parameter.yml
  changelogs/fragments/597-ec2_vol-add-outpostarn-support.yml
  changelogs/fragments/601-ec2_vpc_route_table-ipv6-support.yml
  changelogs/fragments/603-ec2_vol-add-tags-on-creation.yml
  changelogs/fragments/606-ec2_vol-set-iops-even-if-unchanged-for-boto-req.yml
  changelogs/fragments/611-s3_bucket-add-support-for-acl.yml
  changelogs/fragments/614-ec2_key-add-support-for-ed25519-key-type.yml
  changelogs/fragments/619-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  changelogs/fragments/646-acm-resource-not-found.yml
  changelogs/fragments/disutils.version.yml
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
Labels: needs_rebase, needs_revision, community_review, needs_triage, mergeit

#673 bump the release version of the amazon.aws collection from 3.1.0 to 3.1.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Labels: bug, community_review, needs_triage, mergeit

#677 Bring changelog changes of amazon.aws 3.1.1 from stable-3
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: bug, community_review, needs_triage, mergeit

#672 ec2_vpc_igw: fix 'NoneType' object is not subscriptable
  plugins/modules/ec2_vpc_igw.py
Labels: bug, has_issue, module, community_review, plugins, small_patch, backport-2, backport-3, mergeit

#682 Disable broken integration test - lookup_aws_account_attribute
  tests/integration/targets/lookup_aws_account_attribute/aliases
Labels: bug, integration, tests, community_review, needs_triage, traceback, mergeit

#687 ec2_vol - support changing from volume without IOPS to one with IOPS
  changelogs/fragments/626-ec2_vol-iops-when-source-does-not-have-iops.yml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#651 Add EKS Fargate Profile waiters
  plugins/module_utils/waiters.py
Labels: new_contributor, feature, module_utils, community_review, plugins, mergeit
