Repository ansible-collections/amazon.aws, pull requests merged in 2022-06, with the labels that each got.

#854 ec2_instance: Add example to spin up instance with a attached volume from a snapshot
  plugins/modules/ec2_instance.py
Labels: module, community_review, docs, plugins, mergeit

#849 ec2_instance - deprecate purge_tags=False
  changelogs/fragments/849-ec2_instance-tagging-deprecate.yml
  plugins/modules/ec2_instance.py
Labels: feature, owner_pr, module, community_review, plugins, mergeit

#856 ec2_instance - Fix NoneType error on no input tags
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/tags_and_vpc_settings.yml
Labels: bug, integration, module, tests, python3, community_review, traceback, plugins, mergeit

#860 [WIP] elb_classic_lb: fix return value _format_listener method to include SSLCertificateId
  changelogs/fragments/860-elb_classic_lb-create-https-listeners.yml
  plugins/modules/elb_classic_lb.py
Labels: bug, module, WIP, plugins, small_patch

#840 Add support for copy_db_cluster_snapshot for rds_cluster_snapshot
  plugins/module_utils/rds.py
  tests/unit/module_utils/test_rds.py
Labels: feature, module_utils, tests, community_review, plugins, mergeit

#864 elb_classic_lb: Add integration tests for - fix return value _format_listener method to include SSLCertificateId
  tests/integration/targets/elb_classic_lb/defaults/main.yml
  tests/integration/targets/elb_classic_lb/meta/main.yml
  tests/integration/targets/elb_classic_lb/tasks/https_listeners.yml
  tests/integration/targets/elb_classic_lb/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, mergeit

#869 Rename aws_s3 to s3_object (and deprecate bucket creation/deleting)
  changelogs/fragments/869-s3_object.yml
  meta/runtime.yml
  plugins/action/s3_object.py
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/aliases
  tests/integration/targets/s3_object/defaults/main.yml
  tests/integration/targets/s3_object/files/hello.txt
  tests/integration/targets/s3_object/files/test.png
  tests/integration/targets/s3_object/meta/main.yml
  tests/integration/targets/s3_object/tasks/copy_object.yml
  tests/integration/targets/s3_object/tasks/delete_bucket.yml
  tests/integration/targets/s3_object/tasks/main.yml
  tests/integration/targets/s3_object/templates/policy.json.j2
  tests/integration/targets/s3_object/templates/put-template.txt.j2
Labels: new_plugin, new_module, feature, action, integration, module, tests, community_review, plugins, mergeit, do_not_backport

#855 *_info - improve RETURN block of docs
  plugins/modules/aws_az_info.py
  plugins/modules/aws_caller_info.py
  plugins/modules/cloudformation_info.py
  plugins/modules/ec2_eni_info.py
  plugins/modules/ec2_group.py
  plugins/modules/ec2_group_info.py
  plugins/modules/ec2_instance_info.py
  plugins/modules/ec2_key.py
  plugins/modules/ec2_metadata_facts.py
  plugins/modules/ec2_snapshot_info.py
  plugins/modules/ec2_spot_instance.py
  plugins/modules/ec2_spot_instance_info.py
  plugins/modules/ec2_tag.py
  plugins/modules/ec2_tag_info.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_endpoint_service_info.py
  plugins/modules/ec2_vpc_igw_info.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/ec2_vpc_nat_gateway_info.py
  plugins/modules/ec2_vpc_net_info.py
  plugins/modules/ec2_vpc_route_table_info.py
  plugins/modules/elb_classic_lb.py
  tests/integration/targets/cloudformation/tasks/main.yml
Labels: integration, module, tests, community_review, docs, plugins, mergeit

#876 Add integration tests for aws_resource_actions
  tests/integration/targets/callback_aws_resource_actions/aliases
  tests/integration/targets/callback_aws_resource_actions/inventory
  tests/integration/targets/callback_aws_resource_actions/main.yml
  tests/integration/targets/callback_aws_resource_actions/meta/main.yml
  tests/integration/targets/callback_aws_resource_actions/runme.sh
  tests/integration/targets/legacy_missing_tests/aliases
Labels: feature, integration, tests, community_review, needs_triage, mergeit

#873 Add Integration tests for lookup_aws_ssm
  tests/integration/targets/legacy_missing_tests/aliases
  tests/integration/targets/lookup_aws_secret/tasks/main.yaml
  tests/integration/targets/lookup_aws_ssm/aliases
  tests/integration/targets/lookup_aws_ssm/defaults/main.yml
  tests/integration/targets/lookup_aws_ssm/meta/main.yml
  tests/integration/targets/lookup_aws_ssm/tasks/main.yml
Labels: feature, integration, tests, community_review, needs_triage, mergeit

#880 Minor tweaks to dev guidelines
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, needs_triage, docs, mergeit

#878 ec2_group - Add egress_rules and purge_egress_rules aliases
  changelogs/fragments/878-ec2_group.yml
  plugins/modules/ec2_group.py
  tests/integration/targets/ec2_group/aliases
  tests/integration/targets/ec2_group/tasks/ec2_classic.yml
  tests/integration/targets/ec2_group/tasks/icmp_verbs.yml
  tests/integration/targets/ec2_group/tasks/main.yml
  tests/integration/targets/ec2_group/tasks/rule_group_create.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, backport-3, mergeit

#884 aws_ec2 add version_added: 1.5.0 (backport to stable-2)
  plugins/inventory/aws_ec2.py
Labels: inventory, community_review, needs_triage, docs, plugins, mergeit

#852 ec2_instance: metadata_options version_added increased
  plugins/modules/ec2_instance.py
Labels: feature, module, community_review, plugins, mergeit

#886 Prep 3.3.1 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  docs/amazon.aws.aws_ec2_inventory.rst
  galaxy.yml
Labels: bug, community_review, needs_triage, docs, mergeit

#888 Fix broken links to modules which don't exist any more
  plugins/modules/aws_az_info.py
  plugins/modules/ec2_instance.py
Labels: owner_pr, module, community_review, docs, plugins, small_patch, mergeit, backport-4

#891 Change Changelog Title from "community.aws" to "amazon.aws"
  CHANGELOG.rst
  changelogs/config.yaml
Labels: bug, community_review, needs_triage, small_patch, backport-3, mergeit, backport-4

#881 Module naming guidelines
  docs/docsite/rst/dev_guidelines.rst
Labels: has_issue, community_review, needs_triage, docs, mergeit

#890 Update changelog according to 3.3.1 release
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: bug, community_review, needs_triage, docs, small_patch, mergeit

#892 Bump from 5.0.0 to 5.0.0-dev0 in case of accidental release
  galaxy.yml
Labels: feature, community_review, needs_triage, small_patch, mergeit

#862 aws_ec2 fix hostnames
  changelogs/fragments/862-aws_ec2-hostnames.yml
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_hostnames_using_tags.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_hostnames_using_tags_classic.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_hostnames_using_tags.yml.j2
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_hostnames_using_tags_classic.yml.j2
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: bug, has_issue, integration, inventory, tests, community_review, plugins, mergeit

#897 Rename ec2_group to ec2_security_group
  changelogs/fragments/897-ec2_security_group.yml
  meta/runtime.yml
  plugins/modules/ec2_security_group.py
  plugins/modules/ec2_security_group_info.py
  tests/integration/targets/ec2_security_group/aliases
  tests/integration/targets/ec2_security_group/defaults/main.yml
  tests/integration/targets/ec2_security_group/meta/main.yml
  tests/integration/targets/ec2_security_group/tasks/data_validation.yml
  tests/integration/targets/ec2_security_group/tasks/diff_mode.yml
  tests/integration/targets/ec2_security_group/tasks/egress_tests.yml
  tests/integration/targets/ec2_security_group/tasks/group_info.yml
  tests/integration/targets/ec2_security_group/tasks/icmp_verbs.yml
  tests/integration/targets/ec2_security_group/tasks/ipv6_default_tests.yml
  tests/integration/targets/ec2_security_group/tasks/main.yml
  tests/integration/targets/ec2_security_group/tasks/multi_account.yml
  tests/integration/targets/ec2_security_group/tasks/multi_nested_target.yml
  tests/integration/targets/ec2_security_group/tasks/numeric_protos.yml
  tests/integration/targets/ec2_security_group/tasks/rule_group_create.yml
  tests/unit/plugins/modules/test_ec2_security_group.py
Labels: new_plugin, new_module, feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#883 Basic policy about backporting
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, needs_triage, docs, mergeit, backport-4

#902 Remove old lookup unit tests
  tests/unit/plugins/lookup/__init__.py
  tests/unit/plugins/lookup/fixtures/avi.json
  tests/unit/plugins/lookup/test_aws_secret.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: community_review, mergeit, backport-4

#906 Cleanup meta/runtime.yml
  meta/runtime.yml
Labels: feature, community_review, needs_triage, mergeit

#909 Sanity/deprecations/5.0.0 ignore.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: feature, tests, community_review, needs_triage, mergeit

#908 S3 - remove deprecated S3_URL alias
  changelogs/fragments/908-s3_url.yml
  plugins/modules/s3_bucket.py
  plugins/modules/s3_object.py
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: feature, module, tests, community_review, needs_triage, plugins, mergeit
