Repository ansible-collections/amazon.aws, pull requests merged in 2022-12, with the labels that each got.

#1283 Add documentation for the use of strings with compose
  changelogs/fragments/1283-aws_ec2_inventory_compose_doc_examples.yml
  docs/docsite/rst/aws_ec2_guide.rst
Labels: new_contributor, community_review, docs, mergeit, backport-5

#1290 kms_key: Add multi region support to create_key
  changelogs/fragments/1290-create_multi_region_key.yml
  plugins/modules/kms_key.py
  tests/integration/targets/kms_key/inventory
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_multi_region.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_states.yml
  tests/unit/plugins/modules/test_kms_key.py
Labels: new_plugin, feature, integration, module, tests, community_review, plugins, needs_maintainer, mergeit, sd-time

#1293 lambda_layer_info - add support for version_number
  changelogs/fragments/lambda_layer_info-add-parameter-layer_version.yml
  plugins/modules/lambda_layer_info.py
  tests/unit/plugins/modules/test_lambda_layer_info.py
Labels: feature, module, tests, community_review, plugins, needs_maintainer, mergeit

#1288 ec2_key/tests: add unit-tests
  changelogs/fragments/unit-tests_test_ec2_key_only.yaml
  plugins/modules/ec2_key.py
  tests/unit/plugins/modules/test_ec2_key.py
Labels: new_plugin, module, tests, python3, community_review, plugins, needs_maintainer, mergeit

#1266 rds_instance: support for gp3
  changelogs/fragments/1266-rds_instance_gp3_support.yaml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance_modify/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1302 [6.0.0] s3_object - Remove support for creation/deletion of buckets.
  changelogs/fragments/1112-s3_object-delete-create.yml
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/tasks/copy_object.yml
  tests/integration/targets/s3_object/tasks/copy_object_acl_disabled_bucket.yml
  tests/integration/targets/s3_object/tasks/delete_bucket.yml
  tests/integration/targets/s3_object/tasks/main.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/unit/plugins/modules/test_s3_object.py
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit
