Repository ansible-collections/amazon.aws, pull requests merged in 2022-04, with the labels that each got.

#760 ARN: Add Support for the aws/aws-managed 'account' special cases
  plugins/module_utils/arn.py
  plugins/modules/ec2_vol.py
  tests/unit/module_utils/test_arn.py
Labels: feature, module, module_utils, tests, community_review, needs_triage, plugins, mergeit

#764 Revert "Fix on_denied and on_missing bugs (#618) (#747)"
  changelogs/fragments/617-aws_ssm-on_missing-and-on-denied-now-default-to-error.yml
  plugins/lookup/aws_ssm.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: bug, lookup, tests, community_review, needs_triage, plugins, mergeit

#714 rds module_util - fix check_mode and idempotence bugs and support adding/removing IAM roles
  changelogs/fragments/714-module_util_rds-support-iam-roles-add-waiters.yml
  plugins/module_utils/rds.py
  plugins/module_utils/waiters.py
  tests/unit/module_utils/test_rds.py
Labels: feature, integration, module_utils, tests, community_review, plugins, mergeit

#759 Prep 3.2.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/591-aws_secrets-handle-pagination.yml
  changelogs/fragments/619-inventory-aws_ec2-assume-arn-role-when-listing-regions.yml
  changelogs/fragments/626-ec2_vol-iops-when-source-does-not-have-iops.yml
  changelogs/fragments/631-ec2_vpc_net-check_mode.yml
  changelogs/fragments/690-ec2_vpc_route_table-associate-igw.yml
  changelogs/fragments/691-ec2_vpc_igw-fix-null-igw-error.yml
  changelogs/fragments/694-s3_bucket-owner_enforcement.yml
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  changelogs/fragments/696-elbv2-support-alb-attributes.yml
  changelogs/fragments/719-ec2_instance-fix-deprecation-warning-scope.yml
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: feature, lookup, tests, community_review, docs, plugins, mergeit

#756 ec2_instance - raise an error when missing permission to stop instance
  changelogs/fragments/756-ec2_instance-raise-an-error-when-missing-permission.yml
  plugins/modules/ec2_instance.py
Labels: bug, module, community_review, plugins, mergeit

#769 Update changelog (main branch) with the amazon.aws 3.2.0 changes
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/591-aws_secrets-handle-pagination.yml
  changelogs/fragments/619-inventory-aws_ec2-assume-arn-role-when-listing-regions.yml
  changelogs/fragments/626-ec2_vol-iops-when-source-does-not-have-iops.yml
  changelogs/fragments/631-ec2_vpc_net-check_mode.yml
  changelogs/fragments/690-ec2_vpc_route_table-associate-igw.yml
  changelogs/fragments/691-ec2_vpc_igw-fix-null-igw-error.yml
  changelogs/fragments/694-s3_bucket-owner_enforcement.yml
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  changelogs/fragments/696-elbv2-support-alb-attributes.yml
  changelogs/fragments/719-ec2_instance-fix-deprecation-warning-scope.yml
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.s3_bucket_module.rst
Labels: community_review, needs_triage, docs, mergeit

#763 ec2_instance incr version added to 3.3.0 for added parameters
  plugins/modules/ec2_instance.py
Labels: module, community_review, docs, plugins, small_patch, mergeit

#771 Backport: rds module_util - support IAM roles
  changelogs/fragments/714-module_util_rds-support-iam-roles-add-waiters.yml
  plugins/module_utils/rds.py
  plugins/module_utils/waiters.py
  tests/unit/module_utils/test_rds.py
Labels: feature, module_utils, tests, community_review, plugins, mergeit

#778 [PR #427 backport][stable-1.5] ec2_key : Fix tests
  bindep.txt
  test-requirements.txt
  tests/integration/targets/setup_sshkey/files/ec2-fingerprint.py
  tests/integration/targets/setup_sshkey/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, mergeit

#766 ec2_vpc_igw - dont user filters to paginate to fix NoneType error
  changelogs/fragments/766-ec2_vpc_igw-use-InternetGatewayIds-not-filters.yml
  plugins/modules/ec2_vpc_igw.py
Labels: bug, module, community_review, plugins, mergeit

#786 Create extra snapshots for ec2_snapshot_info test - minimum max_results is 5
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, mergeit

#787 Move module development guidelines into the collection
  docs/docsite/extra-docs.yml
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, needs_triage, docs, backport-3, mergeit

#792 Various docs fixups
  docs/docsite/rst/dev_guidelines.rst
  docs/docsite/rst/guide_aws.rst
  plugins/modules/ec2_group.py
  plugins/modules/ec2_snapshot.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
Labels: bug, module, community_review, docs, plugins, backport-1.5, backport-2, backport-3, mergeit

#777 [PR #347 backport][stable-1.5] remove references to shippable from repo
  README.md
  shippable.yml
  tests/integration/targets/aws_az_info/aliases
  tests/integration/targets/aws_caller_info/aliases
  tests/integration/targets/aws_s3/aliases
  tests/integration/targets/cloudformation/aliases
  tests/integration/targets/ec2/aliases
  tests/integration/targets/ec2_ami/aliases
  tests/integration/targets/ec2_key/aliases
  tests/integration/targets/ec2_snapshot/aliases
  tests/integration/targets/ec2_tag/aliases
  tests/integration/targets/ec2_vol/aliases
  tests/integration/targets/ec2_vpc_dhcp_option/aliases
  tests/integration/targets/ec2_vpc_net/aliases
  tests/integration/targets/ec2_vpc_subnet/aliases
  tests/integration/targets/inventory_aws_ec2/aliases
  tests/integration/targets/lookup_aws_account_attribute/aliases
  tests/integration/targets/module_utils_core/aliases
  tests/integration/targets/module_utils_ec2/aliases
  tests/integration/targets/module_utils_waiter/aliases
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
  tests/utils/shippable/aws.sh
  tests/utils/shippable/check_matrix.py
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
  tests/utils/shippable/timing.py
  tests/utils/shippable/timing.sh
  tests/utils/shippable/units.sh
Labels: bug, integration, tests, community_review, plugins, mergeit

#796 Yet more sanity cleanup
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_snapshot_info.py
Labels: inventory, module, community_review, needs_triage, docs, plugins, performance, mergeit
