Repository ansible-collections/amazon.aws, pull requests merged in 2022-05, with the labels that each got.

#795 Deprecate Camel- and Upper- case aliases
  changelogs/fragments/795-deprecate-aliases.yml
  plugins/modules/aws_s3.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
  plugins/modules/s3_bucket.py
Labels: feature, owner_pr, module, community_review, needs_triage, plugins, mergeit

#790 Add Collection Docs workflow to generate docs artifacts
  .github/workflows/docs-pr.yml
Labels: feature, community_review, needs_triage, mergeit

#767 Update ec2_instance find_instances to fix incompatibility with Python 3.8
  changelogs/fragments/709-ec_2_instance-python-3-8-compatibility.yml
  plugins/modules/ec2_instance.py
Labels: bug, new_contributor, module, python3, community_review, plugins, backport-2, backport-3, mergeit

#752 Add aliases to the security_token param (#655)
  changelogs/fragments/655-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/ec2.py
Labels: bug, module_utils, community_review, plugins, small_patch, mergeit

#802 Update s3 module_util validate_bucket_name to accept 3 character bucket name
  changelogs/fragments/802-update-s3-module_util-validate_bucket_name-to-accept-3-character-bucket-name.yml
  plugins/module_utils/s3.py
  tests/unit/module_utils/test_s3.py
Labels: bug, new_contributor, module_utils, tests, community_review, plugins, backport-2, backport-3, mergeit

#799 setup_sshkey: drop a dep on Crypto
  tests/integration/targets/ec2_key/tasks/main.yml
  tests/integration/targets/setup_sshkey/files/ec2-fingerprint.py
Labels: needs_info, needs_template, integration, tests, plugins, mergeit

#806 Fix linting issues. (#701)
  changelogs/fragments/validate-plugins.yml
  plugins/callback/aws_resource_actions.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_service_ip_ranges.py
  plugins/lookup/aws_ssm.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_snapshot_info.py
Labels: bug, callback, inventory, lookup, module, community_review, plugins, backport-3, mergeit

#812 Add PSF-license.txt file
  PSF-license.txt
  changelogs/fragments/psf-license.yml
  plugins/module_utils/_version.py
Labels: bug, module_utils, community_review, plugins, backport-3, mergeit

#794 Updates to the Developer Guidelines
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, docs, mergeit

#813 [stable-3] Add PSF-license.txt file
  PSF-license.txt
  changelogs/fragments/psf-license.yml
  plugins/module_utils/_version.py
Labels: bug, module_utils, community_review, needs_triage, plugins, mergeit

#783 Add support for icmp_type and icmp_code parameters (close #628)
  plugins/modules/ec2_group.py
  tests/integration/targets/ec2_group/tasks/icmp_verbs.yml
  tests/integration/targets/ec2_group/tasks/main.yml
Labels: feature, integration, module, tests, community_review, docs, plugins, mergeit

#815 stable-1.5 - Add sanity ignores for 2.12, 2.13 and 2.14
  plugins/modules/ec2_snapshot_info.py
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: bug, module, tests, community_review, plugins, mergeit

#819 Update plugin docs to explicitly list python, boto3 and botocore version requirements
  docs/docsite/rst/dev_guidelines.rst
  plugins/doc_fragments/aws_boto3.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
Labels: new_plugin, inventory, lookup, community_review, needs_triage, docs, plugins, backport-2, backport-3, mergeit

#821 [stable-3] Update plugin docs to explicitly list python, boto3 and botocore version
  docs/docsite/rst/dev_guidelines.rst
  plugins/doc_fragments/aws_boto3.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
Labels: inventory, lookup, community_review, needs_triage, docs, plugins, mergeit

#823 [stable-2] Fix linting issues.
  changelogs/fragments/validate-plugins.yml
  plugins/callback/aws_resource_actions.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_service_ip_ranges.py
  plugins/lookup/aws_ssm.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_snapshot_info.py
Labels: bug, callback, inventory, lookup, module, community_review, needs_triage, plugins

#822 [stable-2] Update plugin docs to explicitly list python, boto3 and botocore version
  plugins/doc_fragments/aws_boto3.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
Labels: inventory, lookup, community_review, needs_triage, docs, plugins, mergeit

#776 rds module_util - add retry_code to get_rds_method_attributes and add functionality for copying snapshot
  changelogs/fragments/776-module_util_rds-add-extra-retry-codes-refactor.yml
  plugins/module_utils/rds.py
  tests/unit/module_utils/test_rds.py
Labels: bug, feature, module_utils, tests, community_review, plugins, mergeit

#835 ec2_vpc_igw - convert tags by default
  changelogs/fragments/318-ec2_vpc_igw_info-convert-tags.yml
  plugins/modules/ec2_vpc_igw_info.py
  tests/integration/targets/ec2_vpc_igw/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: integration, module, tests, community_review, needs_triage, plugins, mergeit, do_not_backport

#833 cloudformation - remove unused template_format parameter
  changelogs/fragments/64368-cloudformation.yml
  plugins/modules/cloudformation.py
Labels: feature, owner_pr, module, community_review, plugins, small_patch, mergeit, do_not_backport

#830 ec2_key - remove unused wait and wait_timeout parameters
  changelogs/fragments/64230-ec2_key-remove-unused.yml
  plugins/modules/ec2_key.py
Labels: feature, owner_pr, module, community_review, plugins, mergeit, do_not_backport

#832 aws_az_info remove aws_az_facts alias
  changelogs/fragments/57613-facts.yml
  meta/runtime.yml
  plugins/modules/aws_az_facts.py
  plugins/modules/aws_az_info.py
  tests/sanity/ignore-2.9.txt
Labels: feature, module, tests, plugins, shipit, mergeit, do_not_backport

#826 inventory aws_ec2 - allow for literal strings in hostnames
  changelogs/fragments/826-inventory-aws_ec2-allow-literal-string-in-hostname.yml
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_literal_string.yml
  tests/integration/targets/inventory_aws_ec2/runme.sh
  tests/integration/targets/inventory_aws_ec2/templates/inventory_with_literal_string.yml.j2
Labels: feature, has_issue, integration, inventory, tests, community_review, needs_triage, plugins, backport-3, mergeit

#827 elb_classic_lb - Remove deprecated ec2_elb fact
  changelogs/fragments/552-elb_classic_lb-fact-remove.yml
  plugins/modules/elb_classic_lb.py
Labels: feature, owner_pr, module, community_review, needs_triage, plugins, mergeit, do_not_backport

#828 ec2_vol - remove deprecated state=list
  changelogs/fragments/108-ec2_vol-state-list-remove.yml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, community_review, plugins, mergeit, do_not_backport

#829 ec2_tag - remove deprecated 'state=list'
  changelogs/fragments/66840-ec2_tag-remove-list.yml
  plugins/modules/ec2_tag.py
  tests/integration/targets/ec2_tag/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, community_review, plugins, mergeit, do_not_backport

#837 Fix support envvars for lookup aws ssm
  changelogs/fragments/837-aws_ssm-envars.yml
  plugins/lookup/aws_ssm.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: feature, lookup, tests, community_review, plugins, backport-3, mergeit

#838 Fix support envvars for lookup aws ssm (#837)
  changelogs/fragments/837-aws_ssm-envars.yml
  plugins/lookup/aws_ssm.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: bug, lookup, tests, community_review, needs_triage, plugins, mergeit

#839 Backport stable-3 - rds module_util - add retry_code to get_rds_method_attributes and add…
  changelogs/fragments/776-module_util_rds-add-extra-retry-codes-refactor.yml
  plugins/module_utils/rds.py
  tests/unit/module_utils/test_rds.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#841 Prep 2.3.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/709-ec_2_instance-python-3-8-compatibility.yml
  changelogs/fragments/802-update-s3-module_util-validate_bucket_name-to-accept-3-character-bucket-name.yml
  changelogs/fragments/validate-plugins.yml
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  galaxy.yml
Labels: feature, community_review, needs_triage, docs, mergeit

#825 Do not purge 'aws:*' tags
  changelogs/fragments/817-skip_purge_aws.yaml
  plugins/module_utils/tagging.py
  tests/integration/targets/ec2_instance/main.yml
  tests/unit/module_utils/test_tagging.py
Labels: feature, integration, module_utils, tests, community_review, plugins, mergeit, do_not_backport

#842 Prep 3.3.0 release
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/655-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  changelogs/fragments/709-ec_2_instance-python-3-8-compatibility.yml
  changelogs/fragments/714-module_util_rds-support-iam-roles-add-waiters.yml
  changelogs/fragments/776-module_util_rds-add-extra-retry-codes-refactor.yml
  changelogs/fragments/802-update-s3-module_util-validate_bucket_name-to-accept-3-character-bucket-name.yml
  changelogs/fragments/826-inventory-aws_ec2-allow-literal-string-in-hostname.yml
  changelogs/fragments/837-aws_ssm-envars.yml
  changelogs/fragments/psf-license.yml
  changelogs/fragments/validate-plugins.yml
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: needs_rebase, needs_revision, feature, community_review, needs_triage, mergeit

#847 ec2_tag - simplified 'required' logic
  plugins/modules/ec2_tag.py
Labels: owner_pr, module, community_review, needs_triage, docs, plugins, mergeit

#850 Update changelog against the main branch
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/655-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  changelogs/fragments/709-ec_2_instance-python-3-8-compatibility.yml
  changelogs/fragments/714-module_util_rds-support-iam-roles-add-waiters.yml
  changelogs/fragments/776-module_util_rds-add-extra-retry-codes-refactor.yml
  changelogs/fragments/802-update-s3-module_util-validate_bucket_name-to-accept-3-character-bucket-name.yml
  changelogs/fragments/826-inventory-aws_ec2-allow-literal-string-in-hostname.yml
  changelogs/fragments/837-aws_ssm-envars.yml
  changelogs/fragments/psf-license.yml
  changelogs/fragments/validate-plugins.yml
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
Labels: needs_rebase, needs_revision, feature, community_review, needs_triage, mergeit

#845 Tagging - switch simplest cases to use doc fragment
  changelogs/fragments/845-tagging.yml
  plugins/modules/aws_s3.py
  plugins/modules/ec2_eni.py
  plugins/modules/ec2_group.py
  plugins/modules/ec2_vpc_dhcp_option.py
  plugins/modules/ec2_vpc_igw.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/ec2_vpc_subnet.py
  plugins/modules/elb_classic_lb.py
  plugins/modules/s3_bucket.py
Labels: owner_pr, module, community_review, docs, plugins, mergeit

#848 ec2_vpc_net - Deprecate purge_tags=False and support management by ID
  changelogs/fragments/848-ec2_vpc_net-tagging-and-id.yml
  plugins/modules/ec2_vpc_net.py
  tests/integration/targets/ec2_vpc_net/defaults/main.yml
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#846 Tagging - deprecate defaults of purge_tags=False
  changelogs/fragments/846-tagging-deprecate.yml
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_key.py
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_route_table.py
Labels: feature, owner_pr, module, community_review, plugins, mergeit
