Repository ansible-collections/amazon.aws, pull requests merged in 2022-09, with the labels that each got.

#983 Fix deprecation warning on instance_type
  changelogs/fragments/980-instance-type-deprecation-warning.yml
  plugins/modules/ec2_instance.py
Labels: bug, new_contributor, module, community_review, plugins, backport-3, mergeit, backport-4

#994 merge s3_url parameter into endpoint_url
  changelogs/fragments/994-s3_url.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/modules.py
  plugins/modules/s3_bucket.py
  plugins/modules/s3_object.py
Labels: feature, module, module_utils, community_review, needs_triage, plugins, mergeit

#975 Add eks_nodegroup waiters
  changelogs/fragments/975-waiters-eks_nodegroup.yml
  plugins/module_utils/waiters.py
Labels: feature, module_utils, community_review, plugins, mergeit

#984 Handle absence of classic link support for shared VPCs
  changelogs/fragments/984-ec2_vpc_net_info_shared_vpc.yml
  plugins/modules/ec2_vpc_net_info.py
Labels: bug, module, community_review, plugins, mergeit

#998 add ability to record and replay module for testing purpose
  changelogs/fragments/placebo_record.yaml
  plugins/module_utils/botocore.py
  tests/integration/targets/module_utils_botocore_recorder/aliases
  tests/integration/targets/module_utils_botocore_recorder/main.yml
  tests/integration/targets/module_utils_botocore_recorder/record.sh
  tests/integration/targets/module_utils_botocore_recorder/recording.tar.gz
  tests/integration/targets/module_utils_botocore_recorder/runme.sh
Labels: integration, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1001 publish push-based docsite to GitHub pages
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
  README.md
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_metadata_facts_module.rst
  docs/amazon.aws.ec2_security_group_info_module.rst
  docs/amazon.aws.ec2_security_group_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  docs/amazon.aws.s3_object_module.rst
  docs/docsite/links.yml
Labels: community_review, needs_triage, docs, mergeit

#1003 [PR #1001/35dddca backport] [stable-4] Publish push-based docsite to GitHub pages
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
  README.md
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_metadata_facts_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  docs/amazon.aws.s3_object_module.rst
  docs/docsite/links.yml
Labels: community_review, needs_triage, docs, mergeit

#1004 [PR #1001/35dddca backport] [stable-3] Publish push-based docsite to GitHub pages
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
  README.md
  docs/amazon.aws.aws_account_attribute_lookup.rst
  docs/amazon.aws.aws_az_info_module.rst
  docs/amazon.aws.aws_caller_info_module.rst
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.aws_rds_inventory.rst
  docs/amazon.aws.aws_s3_module.rst
  docs/amazon.aws.aws_secret_lookup.rst
  docs/amazon.aws.aws_service_ip_ranges_lookup.rst
  docs/amazon.aws.aws_ssm_lookup.rst
  docs/amazon.aws.cloudformation_info_module.rst
  docs/amazon.aws.cloudformation_module.rst
  docs/amazon.aws.ec2_ami_info_module.rst
  docs/amazon.aws.ec2_ami_module.rst
  docs/amazon.aws.ec2_eni_info_module.rst
  docs/amazon.aws.ec2_eni_module.rst
  docs/amazon.aws.ec2_group_info_module.rst
  docs/amazon.aws.ec2_group_module.rst
  docs/amazon.aws.ec2_instance_info_module.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.ec2_key_module.rst
  docs/amazon.aws.ec2_metadata_facts_module.rst
  docs/amazon.aws.ec2_module.rst
  docs/amazon.aws.ec2_snapshot_info_module.rst
  docs/amazon.aws.ec2_snapshot_module.rst
  docs/amazon.aws.ec2_spot_instance_info_module.rst
  docs/amazon.aws.ec2_spot_instance_module.rst
  docs/amazon.aws.ec2_tag_info_module.rst
  docs/amazon.aws.ec2_tag_module.rst
  docs/amazon.aws.ec2_vol_info_module.rst
  docs/amazon.aws.ec2_vol_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_info_module.rst
  docs/amazon.aws.ec2_vpc_dhcp_option_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_info_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_module.rst
  docs/amazon.aws.ec2_vpc_endpoint_service_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_info_module.rst
  docs/amazon.aws.ec2_vpc_igw_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_info_module.rst
  docs/amazon.aws.ec2_vpc_nat_gateway_module.rst
  docs/amazon.aws.ec2_vpc_net_info_module.rst
  docs/amazon.aws.ec2_vpc_net_module.rst
  docs/amazon.aws.ec2_vpc_route_table_info_module.rst
  docs/amazon.aws.ec2_vpc_route_table_module.rst
  docs/amazon.aws.ec2_vpc_subnet_info_module.rst
  docs/amazon.aws.ec2_vpc_subnet_module.rst
  docs/amazon.aws.elb_classic_lb_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  docs/docsite/links.yml
Labels: needs_rebase, needs_revision, community_review, needs_triage, docs, mergeit

#997 Promote cloudtrail
  meta/runtime.yml
  plugins/modules/cloudtrail.py
  tests/integration/targets/cloudtrail/aliases
  tests/integration/targets/cloudtrail/templates/cloudtrail-no-kms-assume-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudtrail-no-kms-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudwatch-assume-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudwatch-policy.j2
  tests/integration/targets/cloudtrail/templates/kms-policy.j2
  tests/integration/targets/cloudtrail/templates/s3-policy.j2
  tests/integration/targets/cloudtrail/templates/sns-policy.j2
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, plugins, mergeit

#1015 tests: add unit-tests for calculate_etag()
  tests/unit/module_utils/test_s3.py
Labels: has_issue, tests, community_review, needs_triage, mergeit

#1021 Update docs links
  galaxy.yml
Labels: community_review, needs_triage, docs, small_patch, mergeit

#1024 Prepare 4.2.0 Release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/638-ec2_security_group_group_name_datatype.yml
  changelogs/fragments/951-cloudretry.yml
  changelogs/fragments/965-linting.yml
  galaxy.yml
Labels: feature, community_review, needs_triage, mergeit

#1025 Cleanup after 4.2.0 Release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/638-ec2_security_group_group_name_datatype.yml
  changelogs/fragments/951-cloudretry.yml
Labels: needs_revision, needs_triage, docs, mergeit

#1016 Add changelog and update FQDN
  changelogs/fragments/migrate_cloudtrail.yml
  plugins/modules/cloudtrail.py
Labels: module, community_review, docs, plugins, mergeit

#1019 tests: some ec2_instance targets are slower than normal
  changelogs/fragments/ec2_instance-test-duration.yaml
  tests/integration/targets/ec2_instance_block_devices/aliases
  tests/integration/targets/ec2_instance_checkmode_tests/aliases
  tests/integration/targets/ec2_instance_default_vpc_tests/aliases
  tests/integration/targets/ec2_instance_iam_instance_role/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, mergeit

#972 ec2_instance : Add hibernation_options and volumes->ebs->encrypted keys
  changelogs/fragments/972-ec2_instance-stop-hibernate.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance_hibernation_options/aliases
  tests/integration/targets/ec2_instance_hibernation_options/defaults/main.yml
  tests/integration/targets/ec2_instance_hibernation_options/meta/main.yml
  tests/integration/targets/ec2_instance_hibernation_options/tasks/main.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit

#1039 `ec2_instance` retry on `InsuffienctInstanceCapacity `
  changelogs/fragments/1038-ec2-insufficient-capacity.yml
  plugins/modules/ec2_instance.py
Labels: feature, module, community_review, plugins, small_patch, mergeit, backport-4

#1045 Fix `AttributeError: 'AnsibleAWSModule' object has no attribute 'fail'` error
  changelogs/fragments/1045-botocore_fail.yml
  plugins/module_utils/botocore.py
  tests/integration/targets/module_utils_core/roles/ansibleawsmodule.client/tasks/profiles.yml
Labels: bug, integration, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1046 Initial sanity ignore file for Ansible 2.15 (branching happened)
  tests/sanity/ignore-2.15.txt
Labels: feature, tests, community_review, backport-3, mergeit, backport-4

#1047 Add rendered Changelog to the docs site
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/1047-docsite-changelog.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/CHANGELOG.rst
Labels: community_review, needs_triage, docs, mergeit

#1043 Promote elb_application_lb* module and test
  changelogs/fragments/migrate_elb_application_lb.yml
  meta/runtime.yml
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_application_lb/defaults/main.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
Labels: needs_rebase, needs_info, needs_revision, needs_template, needs_triage, mergeit

#1017 tests: drop Python2's `u` marker for unicode string
  changelogs/fragments/test-python3-unicode-string.yaml
  plugins/module_utils/policy.py
  tests/unit/plugins/inventory/test_aws_ec2.py
  tests/unit/plugins/modules/test_ec2_security_group.py
Labels: needs_info, needs_template, module, module_utils, tests, python3, plugins, needs_maintainer, mergeit

#1018 python3: empty __init__.py can be removed
  changelogs/fragments/remove__init__.py_file.yaml
  plugins/__init__.py
  plugins/action/__init__.py
  plugins/callback/__init__.py
  plugins/doc_fragments/__init__.py
  plugins/inventory/__init__.py
  plugins/lookup/__init__.py
  plugins/module_utils/__init__.py
  plugins/modules/__init__.py
  tests/unit/__init__.py
  tests/unit/mock/__init__.py
  tests/unit/module_utils/__init__.py
  tests/unit/module_utils/core/__init__.py
  tests/unit/plugins/__init__.py
  tests/unit/plugins/inventory/__init__.py
  tests/unit/plugins/modules/__init__.py
  tests/unit/plugins/modules/fixtures/__init__.py
  tests/unit/plugins/modules/placebo_recordings/__init__.py
  tests/unit/plugins/modules/placebo_recordings/cloudformation/__init__.py
  tests/unit/utils/__init__.py
Labels: needs_info, needs_template, action, callback, inventory, lookup, module, module_utils, tests, python3, plugins, needs_maintainer, mergeit

#978 Adjust booleans from yes/no to true/false
  changelogs/fragments/978-bools.yml
  plugins/modules/cloudformation.py
  plugins/modules/cloudformation_info.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_ami_info.py
  plugins/modules/ec2_snapshot.py
  plugins/modules/ec2_vol.py
  plugins/modules/ec2_vpc_dhcp_option.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/ec2_vpc_net.py
  plugins/modules/elb_classic_lb.py
  plugins/modules/s3_bucket.py
  plugins/modules/s3_object.py
Labels: owner_pr, module, community_review, docs, plugins, backport-3, mergeit, backport-4

#1032 Migrate ec2_eip* modules and tests
  changelogs/fragments/migrate_ec2_eip.yml
  meta/runtime.yml
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_eip_info.py
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/ec2_eip/defaults/main.yml
  tests/integration/targets/ec2_eip/meta/main.yml
  tests/integration/targets/ec2_eip/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, plugins, mergeit

#1031 Migrate cloudwatchlogs* modules and tests
  changelogs/fragments/migrate_cloudwatchlogs.yml
  meta/runtime.yml
  plugins/modules/cloudwatchlogs_log_group.py
  plugins/modules/cloudwatchlogs_log_group_info.py
  plugins/modules/cloudwatchlogs_log_group_metric_filter.py
  tests/integration/targets/cloudwatchlogs/aliases
  tests/integration/targets/cloudwatchlogs/defaults/main.yml
  tests/integration/targets/cloudwatchlogs/meta/main.yml
  tests/integration/targets/cloudwatchlogs/tasks/cloudwatchlogs_tests.yml
  tests/integration/targets/cloudwatchlogs/tasks/create-delete-tags.yml
  tests/integration/targets/cloudwatchlogs/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, plugins, mergeit

#1044 Migrate iam_policy* module and tests
  changelogs/fragments/migrate_iam_policy.yml
  meta/runtime.yml
  plugins/modules/iam_policy.py
  plugins/modules/iam_policy_info.py
  tests/integration/targets/iam_policy/aliases
  tests/integration/targets/iam_policy/defaults/main.yml
  tests/integration/targets/iam_policy/files/no_access.json
  tests/integration/targets/iam_policy/files/no_access_with_id.json
  tests/integration/targets/iam_policy/files/no_access_with_second_id.json
  tests/integration/targets/iam_policy/files/no_trust.json
  tests/integration/targets/iam_policy/meta/main.yml
  tests/integration/targets/iam_policy/tasks/main.yml
  tests/integration/targets/iam_policy/tasks/object.yml
  tests/sanity/ignore-2.9.txt
Labels: bug, new_plugin, new_module, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1030 Migrate lambda* modules and tests
  changelogs/fragments/migrate_lambda.yml
  meta/runtime.yml
  plugins/modules/lambda.py
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_event.py
  plugins/modules/lambda_execute.py
  plugins/modules/lambda_info.py
  plugins/modules/lambda_policy.py
  tests/integration/targets/lambda/aliases
  tests/integration/targets/lambda/defaults/main.yml
  tests/integration/targets/lambda/files/mini_lambda.py
  tests/integration/targets/lambda/files/minimal_trust_policy.json
  tests/integration/targets/lambda/meta/main.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda/tasks/tagging.yml
  tests/integration/targets/lambda_alias/aliases
  tests/integration/targets/lambda_alias/defaults/main.yml
  tests/integration/targets/lambda_alias/files/mini_lambda.py
  tests/integration/targets/lambda_alias/files/minimal_trust_policy.json
  tests/integration/targets/lambda_alias/meta/main.yml
  tests/integration/targets/lambda_alias/tasks/main.yml
  tests/integration/targets/lambda_policy/aliases
  tests/integration/targets/lambda_policy/defaults/main.yml
  tests/integration/targets/lambda_policy/files/mini_http_lambda.py
  tests/integration/targets/lambda_policy/files/minimal_trust_policy.json
  tests/integration/targets/lambda_policy/meta/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/lambda_policy/templates/endpoint-test-swagger-api.yml.j2
Labels: needs_rebase, needs_info, needs_revision, needs_template, mergeit

#1052 Migrate cloudwatchevent* modules and tests
  changelogs/fragments/migrate_cloudwatchevent.yml
  meta/runtime.yml
  plugins/modules/cloudwatchevent_rule.py
  tests/integration/targets/cloudwatchevent_rule/aliases
  tests/integration/targets/cloudwatchevent_rule/defaults/main.yml
  tests/integration/targets/cloudwatchevent_rule/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, needs_triage, plugins, mergeit

#1029 Migrate route53* modules and tests
  changelogs/fragments/migrate_route53.yml
  meta/runtime.yml
  plugins/modules/route53.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_info.py
  plugins/modules/route53_zone.py
  tests/integration/targets/route53/aliases
  tests/integration/targets/route53/defaults/main.yml
  tests/integration/targets/route53/meta/main.yml
  tests/integration/targets/route53/tasks/main.yml
  tests/integration/targets/route53/vars/main.yml
  tests/integration/targets/route53_health_check/aliases
  tests/integration/targets/route53_health_check/defaults/main.yml
  tests/integration/targets/route53_health_check/meta/main.yml
  tests/integration/targets/route53_health_check/tasks/create_multiple_health_checks.yml
  tests/integration/targets/route53_health_check/tasks/main.yml
  tests/integration/targets/route53_health_check/tasks/update_delete_by_id.yml
  tests/integration/targets/route53_zone/aliases
  tests/integration/targets/route53_zone/meta/main.yml
  tests/integration/targets/route53_zone/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: needs_rebase, needs_info, needs_revision, needs_template, mergeit

#1028 Migrate cloudwatch_metric_alarm* modules and tests
  changelogs/fragments/migrate_cloudwatch_metric_alarm.yml
  meta/runtime.yml
  plugins/modules/cloudwatch_metric_alarm.py
  tests/integration/targets/cloudwatch_metric_alarm/aliases
  tests/integration/targets/cloudwatch_metric_alarm/defaults/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/meta/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_cleanup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_setup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, plugins, mergeit

#1027 Migrate rds_cluster* modules and tests
  changelogs/fragments/migrate_rds_cluster.yml
  meta/runtime.yml
  plugins/modules/rds_cluster.py
  plugins/modules/rds_cluster_info.py
  plugins/modules/rds_cluster_snapshot.py
  tests/integration/targets/rds_cluster/aliases
  tests/integration/targets/rds_cluster/inventory
  tests/integration/targets/rds_cluster/main.yml
  tests/integration/targets/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/defaults/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create_sgs.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_modify.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_promote.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_restore.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_tag.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/vars/main.yml
  tests/integration/targets/rds_cluster/runme.sh
  tests/integration/targets/rds_cluster_snapshot/aliases
  tests/integration/targets/rds_cluster_snapshot/defaults/main.yml
  tests/integration/targets/rds_cluster_snapshot/tasks/main.yml
  tests/integration/targets/rds_cluster_snapshot/vars/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, plugins, mergeit

#1051 Promote autoscaling_group* module and tests
  changelogs/fragments/migrate_autoscaling_group.yml
  meta/runtime.yml
  plugins/modules/autoscaling_group.py
  plugins/modules/autoscaling_group_info.py
  tests/integration/targets/autoscaling_group/aliases
  tests/integration/targets/autoscaling_group/inventory
  tests/integration/targets/autoscaling_group/main.yml
  tests/integration/targets/autoscaling_group/meta/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_cleanup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/tag_operations.yml
  tests/integration/targets/autoscaling_group/runme.sh
Labels: bug, new_plugin, new_module, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1012 Migrate rds_snapshot* modules and tests
  changelogs/fragments/migrate_rds_snapshot.yml
  meta/runtime.yml
  plugins/modules/rds_snapshot_info.py
Labels: needs_info, needs_template, new_plugin, new_module, module, plugins, mergeit

#1011 Migrate rds_instance* modules and tests
  changelogs/fragments/migrate_rds_instance.yml
  meta/runtime.yml
  plugins/modules/rds_instance.py
  plugins/modules/rds_instance_info.py
  plugins/modules/rds_instance_snapshot.py
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/meta/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/files/enhanced_monitoring_assume_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_trust_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_aurora.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_iam_roles.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modify.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_replica.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_restore.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
  tests/integration/targets/rds_instance/runme.sh
  tests/integration/targets/rds_instance_snapshot/aliases
  tests/integration/targets/rds_instance_snapshot/defaults/main.yml
  tests/integration/targets/rds_instance_snapshot/tasks/main.yml
  tests/integration/targets/rds_instance_snapshot/vars/main.yml
Labels: needs_rebase, needs_info, needs_revision, needs_template, mergeit

#1055 Update bools documentation in ec2_instance
  changelogs/fragments/1055-bools.yml
  plugins/modules/ec2_instance.py
Labels: owner_pr, module, community_review, needs_triage, docs, plugins, small_patch, mergeit

#1035 cloudtrail: import the test-suite
  changelogs/fragments/migrate_cloudtrail_tests.yml
  tests/integration/targets/cloudtrail/aliases
  tests/integration/targets/cloudtrail/defaults/main.yml
  tests/integration/targets/cloudtrail/main.yml
  tests/integration/targets/cloudtrail/meta/main.yml
  tests/integration/targets/cloudtrail/runme.sh
  tests/integration/targets/cloudtrail/tasks/main.yml
  tests/integration/targets/cloudtrail/tasks/tagging.yml
Labels: needs_info, needs_template, integration, tests, plugins, mergeit

#1054 Promote kms_key* modules and tests
  changelogs/fragments/migrate_kms_key.yml
  meta/runtime.yml
  plugins/modules/kms_key.py
  plugins/modules/kms_key_info.py
  tests/integration/targets/kms_key/aliases
  tests/integration/targets/kms_key/inventory
  tests/integration/targets/kms_key/main.yml
  tests/integration/targets/kms_key/meta/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/defaults/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_grants.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_modify.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_states.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_tagging.yml
  tests/integration/targets/kms_key/roles/aws_kms/templates/console-policy-no-key-rotation.j2
  tests/integration/targets/kms_key/roles/aws_kms/templates/console-policy.j2
  tests/integration/targets/kms_key/runme.sh
Labels: bug, new_plugin, new_module, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1053 Promote iam_user* modules and tests
  changelogs/fragments/migrate_iam_user.yml
  meta/runtime.yml
  plugins/modules/iam_user.py
  plugins/modules/iam_user_info.py
  tests/integration/targets/iam_user/aliases
  tests/integration/targets/iam_user/defaults/main.yml
  tests/integration/targets/iam_user/meta/main.yml
  tests/integration/targets/iam_user/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: bug, needs_rebase, needs_revision, community_review, needs_triage, mergeit

#1056 Migrate rds_option_group* modules and tests
  changelogs/fragments/migrate_rds_option_group.yml
  meta/runtime.yml
  plugins/modules/rds_option_group.py
  plugins/modules/rds_option_group_info.py
  tests/integration/targets/rds_option_group/aliases
  tests/integration/targets/rds_option_group/defaults/main.yml
  tests/integration/targets/rds_option_group/meta/main.yml
  tests/integration/targets/rds_option_group/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, needs_triage, plugins, mergeit

#1057 Migrate rds_param_group* modules and tests
  changelogs/fragments/migrate_rds_param_group.yml
  meta/runtime.yml
  plugins/modules/rds_param_group.py
  tests/integration/targets/rds_param_group/aliases
  tests/integration/targets/rds_param_group/defaults/main.yml
  tests/integration/targets/rds_param_group/meta/main.yml
  tests/integration/targets/rds_param_group/tasks/main.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, needs_triage, plugins, mergeit

#1058 Migrate rds_subnet_group* modules and tests
  changelogs/fragments/migrate_rds_subnet_group.yml
  meta/runtime.yml
  plugins/modules/rds_subnet_group.py
  tests/integration/targets/rds_subnet_group/aliases
  tests/integration/targets/rds_subnet_group/defaults/main.yml
  tests/integration/targets/rds_subnet_group/meta/main.yml
  tests/integration/targets/rds_subnet_group/tasks/main.yml
  tests/integration/targets/rds_subnet_group/tasks/params.yml
  tests/integration/targets/rds_subnet_group/tasks/tests.yml
Labels: needs_info, needs_template, new_plugin, new_module, integration, module, tests, needs_triage, plugins, mergeit

#1059 test-requirements.txt: relax the dependency on pytest
  test-requirements.txt
Labels: community_review, needs_triage, small_patch, mergeit

#1066 Promote route53 module_utils
  changelogs/fragments/migrate_route53_module_utils.yml
  plugins/module_utils/route53.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_zone.py
  tests/integration/targets/route53/aliases
Labels: bug, new_plugin, integration, module, module_utils, tests, community_review, plugins, mergeit

#1063 Add route53 sanity ignore entry for 2.15 (devel)
  changelogs/fragments/1061-sanity.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, tests, community_review, needs_triage, mergeit

#1065 doc: Fix readme typo and misc
  README.md
Labels: new_contributor, community_review, needs_triage, docs, small_patch, backport-3, mergeit, backport-4

#1061 Add missing 'legacy_missing_tests' alias entries
  changelogs/fragments/1061-legacy_aliases.yml
  tests/integration/targets/legacy_missing_tests/aliases
Labels: feature, integration, tests, community_review, needs_triage, mergeit

#988 new module: cloudwatch_metric_alarm_info
  changelogs/fragments/988-cloudwatch_metric_alarm_info-add-new-module.yml
  meta/runtime.yml
  plugins/modules/cloudwatch_metric_alarm_info.py
  tests/integration/targets/cloudwatch_metric_alarm/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit

#991 Add cloudtrail_info module
  meta/runtime.yml
  plugins/modules/cloudtrail_info.py
  tests/integration/targets/cloudtrail/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit

#977 new module: s3_object_info
  changelogs/fragments/977-s3_object_info-add-new-module.yml
  meta/runtime.yml
  plugins/modules/s3_object_info.py
  tests/integration/targets/s3_object/aliases
  tests/integration/targets/s3_object/meta/main.yml
  tests/integration/targets/s3_object/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit

#1073 Make example AWS UUIDS follow a specific pattern - RDS
  changelogs/fragments/1073-gitleaks-2.yml
  plugins/modules/rds_instance_info.py
  plugins/modules/rds_option_group.py
  plugins/modules/rds_option_group_info.py
  plugins/modules/rds_snapshot_info.py
  plugins/modules/rds_subnet_group.py
Labels: owner_pr, module, community_review, needs_triage, docs, plugins, mergeit

#1086 Work around for #1083
  changelogs/fragments/1083-__spec__-is-None.yml
  plugins/module_utils/cloud.py
Labels: bug, module_utils, community_review, plugins, mergeit, backport-4

#1070 Make example AWS UUIDS follow a specific pattern
  changelogs/fragments/1070-gitleaks-1.yml
  plugins/modules/autoscaling_group_info.py
  plugins/modules/cloudformation.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_ami_info.py
  plugins/modules/ec2_eni_info.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_instance_info.py
  plugins/modules/ec2_metadata_facts.py
  plugins/modules/ec2_security_group.py
  plugins/modules/ec2_security_group_info.py
  plugins/modules/ec2_snapshot_info.py
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  plugins/modules/iam_user.py
  plugins/modules/iam_user_info.py
  plugins/modules/kms_key.py
  plugins/modules/kms_key_info.py
  plugins/modules/lambda.py
  tests/integration/targets/ec2_ami/tasks/main.yml
  tests/integration/targets/ec2_instance_block_devices/aliases
  tests/integration/targets/ec2_instance_checkmode_tests/aliases
  tests/integration/targets/ec2_instance_cpu_options/aliases
  tests/integration/targets/ec2_instance_default_vpc_tests/aliases
  tests/integration/targets/ec2_instance_ebs_optimized/aliases
  tests/integration/targets/ec2_instance_external_resource_attach/aliases
  tests/integration/targets/ec2_instance_hibernation_options/aliases
  tests/integration/targets/ec2_instance_iam_instance_role/aliases
  tests/integration/targets/ec2_instance_instance_minimal/aliases
  tests/integration/targets/ec2_instance_instance_multiple/aliases
  tests/integration/targets/ec2_instance_instance_no_wait/aliases
  tests/integration/targets/ec2_instance_metadata_options/aliases
  tests/integration/targets/ec2_instance_security_group/aliases
  tests/integration/targets/ec2_instance_state_config_updates/aliases
  tests/integration/targets/ec2_instance_tags_and_vpc_settings/aliases
  tests/integration/targets/ec2_instance_termination_protection/aliases
  tests/integration/targets/ec2_instance_uptime/aliases
  tests/integration/targets/inventory_aws_ec2/aliases
  tests/integration/targets/inventory_aws_ec2/playbooks/setup.yml
  tests/integration/targets/module_utils_botocore_recorder/record.sh
  tests/integration/targets/setup_ec2_facts/defaults/main.yml
  tests/unit/module_utils/test_elbv2.py
  tests/unit/module_utils/test_iam.py
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: integration, module, tests, community_review, docs, plugins, mergeit

#1026 inventory/aws_ec2: allow multi-entries for one host
  changelogs/fragments/inventory-multi-hosts.yaml
  docs/docsite/rst/aws_ec2_guide.rst
  plugins/inventory/aws_ec2.py
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_hostnames_using_tags.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/test_populating_inventory_with_hostnames_using_tags_classic.yml
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: has_issue, integration, inventory, tests, community_review, docs, plugins, mergeit

#1014 Add Param to to s3_object module to enforce SigV4 for get operations
  changelogs/fragments/1014-add-support-for-signature-version-4-to-the-s3_object-geturl-mode.yml
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1087 Drop support for Ansible Core < 2.11
  README.md
  changelogs/fragments/1087-old-ansible.yml
  meta/runtime.yml
Labels: feature, community_review, needs_triage, mergeit
