Repository ansible-collections/amazon.aws, pull requests merged in 2022-03, with the labels that each got.

#691 ec2_vpc_igw: fix 'NoneType' object is not subscriptable
  changelogs/fragments/691-ec2_vpc_igw-fix-null-igw-error.yml
  plugins/module_utils/waiters.py
  plugins/modules/ec2_vpc_igw.py
Labels: bug, new_contributor, module, module_utils, community_review, plugins, mergeit

#591 aws_secret: Handle pagination for bypath=true
  changelogs/fragments/591-aws_secrets-handle-pagination.yml
  plugins/lookup/aws_secret.py
  tests/unit/plugins/lookup/test_aws_secret.py
Labels: bug, has_issue, lookup, tests, community_review, plugins, backport-3, mergeit

#692 [4.0.0] Bump minimum botocore version to 1.20.0
  README.md
  changelogs/fragments/release-4--botocore.yml
  plugins/doc_fragments/aws.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
  plugins/module_utils/modules.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_vol.py
  requirements.txt
  tests/integration/constraints.txt
  tests/integration/targets/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/block_devices.yml
  tests/integration/targets/ec2_vol/meta/main.yml
  tests/integration/targets/ec2_vol/tasks/main.yml
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/unit/constraints.txt
  tests/unit/module_utils/core/ansible_aws_module/test_minimal_versions.py
Labels: feature, integration, lookup, module, module_utils, tests, python3, community_review, plugins, mergeit, do_not_backport

#695 `ec2_vpc_igw`: fix NoneType error
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  plugins/modules/ec2_vpc_igw.py
Labels: bug, module, community_review, needs_triage, plugins, backport-2, backport-3, mergeit

#701 Fix linting issues reported by validate-modules in plugins
  changelogs/fragments/validate-plugins.yml
  plugins/callback/aws_resource_actions.py
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_service_ip_ranges.py
  plugins/lookup/aws_ssm.py
Labels: bug, callback, inventory, lookup, community_review, needs_triage, plugins, mergeit

#697 ec2_vpc_igw: fix 'NoneType' object is not subscriptable (#691)
  changelogs/fragments/691-ec2_vpc_igw-fix-null-igw-error.yml
  plugins/module_utils/waiters.py
  plugins/modules/ec2_vpc_igw.py
Labels: bug, module, module_utils, community_review, needs_triage, plugins, mergeit

#696 elbv2 module_util - support alb attributes and add compare method for check_mode
  changelogs/fragments/696-elbv2-support-alb-attributes.yml
  plugins/module_utils/elbv2.py
  tests/unit/module_utils/test_elbv2.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, backport-3, mergeit

#712 Pin pytest version
  test-requirements.txt
Labels: bug, community_review, needs_triage, small_patch, backport-2, backport-3, mergeit

#553 Improve error handling rds.py for RDS cluster and snapshot
  plugins/module_utils/rds.py
  tests/unit/module_utils/test_rds.py
Labels: feature, has_issue, module_utils, tests, community_review, plugins, backport-3, mergeit

#706 `ec2_vpc_igw`: fix NoneType error (#695)
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  plugins/modules/ec2_vpc_igw.py
Labels: bug, needs_revision, module, plugins, mergeit

#705 `ec2_vpc_igw`: fix NoneType error (#695)
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  plugins/modules/ec2_vpc_igw.py
Labels: bug, needs_revision, module, plugins, mergeit

#655 Add aliases to the security_token param
  changelogs/fragments/655-aws_ec2-aws_rds-add-support-for-hostvars_prefix-and-hostvars_suffix.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/modules.py
Labels: bug, merge_commit, needs_rebase, new_contributor, module_utils, plugins, backport-3, mergeit

#715 ec2_instance: add missing metadata_options parameters
  changelogs/fragments/715-ec2-instance-metadata-options.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/meta/main.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/metadata_options.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, backport-3, mergeit

#631 vpc_net check mode, IPV6 CIDR assoc/disassoc
  changelogs/fragments/631-ec2_vpc_net-check_mode.yml
  plugins/modules/ec2_vpc_net.py
  plugins/modules/ec2_vpc_route_table.py
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, backport-2, backport-3, mergeit

#719 Fix deprecation warning scope
  changelogs/fragments/719-ec2_instance-fix-deprecation-warning-scope.yml
  plugins/modules/ec2_instance.py
Labels: bug, module, community_review, needs_triage, plugins, small_patch, backport-2, backport-3, mergeit

#624 inventory aws_ec2 - assume role using iam_role_arn parameter to describe regions
  changelogs/fragments/619-inventory-aws_ec2-assume-arn-role-when-listing-regions.yml
  plugins/inventory/aws_ec2.py
Labels: feature, has_issue, inventory, community_review, plugins, backport-2, backport-3, mergeit

#723 parse_aws_arn should accept services with - in the name
  plugins/module_utils/arn.py
  plugins/module_utils/waiters.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_vpc_subnet.py
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
  tests/unit/module_utils/test_arn.py
  tests/unit/module_utils/test_ec2.py
  tests/unit/plugins/modules/test_cloudformation.py
Labels: bug, integration, module, module_utils, tests, community_review, plugins, needs_maintainer, mergeit

#728 Prevent CI to be run for whole collection
  tests/integration/targets/legacy_missing_tests/README.md
  tests/integration/targets/legacy_missing_tests/aliases
Labels: feature, integration, tests, community_review, needs_triage, backport-2, backport-3, mergeit

#694 feat: Add S3 bucket owner enforcement
  changelogs/fragments/694-s3_bucket-owner_enforcement.yml
  plugins/modules/s3_bucket.py
  tests/integration/targets/s3_bucket/roles/s3_bucket/tasks/ownership_controls.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, backport-3, mergeit

#727 Prep 2.2.0 release, Run add_docs, generate changelog
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/539-ec2_instance_add_count_param.yml
  changelogs/fragments/592-elb_classic_lb-handle-sg-ids-fix-tests.yml
  changelogs/fragments/606-ec2_vol-set-iops-even-if-unchanged-for-boto-req.yml
  changelogs/fragments/619-inventory-aws_ec2-assume-arn-role-when-listing-regions.yml
  changelogs/fragments/626-ec2_vol-iops-when-source-does-not-have-iops.yml
  changelogs/fragments/691-ec2_vpc_igw-fix-null-igw-error.yml
  changelogs/fragments/695-ec2_vpc_igw-fix-nonetype-with-paginator.yml
  docs/amazon.aws.aws_ec2_inventory.rst
  docs/amazon.aws.ec2_instance_module.rst
  docs/amazon.aws.s3_bucket_module.rst
  galaxy.yml
Labels: feature, community_review, docs, mergeit

#740 aws_s3: simplify the template check
  tests/integration/targets/aws_s3/tasks/main.yml
Labels: needs_info, needs_template, integration, tests, needs_triage, plugins, small_patch, backport-2, backport-3, mergeit

#739 ec2_vol/test: gives more time to convert vol to gp3
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: needs_info, needs_template, integration, tests, needs_triage, plugins, small_patch, backport-2, backport-3, mergeit

#734 setup_botocore_pip: create tempdir in /var/tmp
  tests/integration/targets/setup_botocore_pip/tasks/main.yml
Labels: has_issue, integration, tests, community_review, needs_triage, small_patch, backport-2, backport-3, mergeit

#618 Fix on_denied and on_missing bugs
  changelogs/fragments/617-aws_ssm-on_missing-and-on-denied-now-default-to-error.yml
  plugins/lookup/aws_ssm.py
  tests/unit/plugins/lookup/test_aws_ssm.py
Labels: bug, new_contributor, lookup, tests, community_review, plugins, backport-3, mergeit

#737 Remove comment from the legacy_missing_tests suite
  tests/integration/targets/legacy_missing_tests/aliases
Labels: bug, integration, tests, community_review, small_patch, backport-2, backport-3, mergeit

#634 Improve doc to show support for IPv6 CIDR block
  plugins/modules/ec2_vpc_route_table.py
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, backport-2, backport-3, mergeit
