Repository ansible-collections/amazon.aws, pull requests merged in 2022-10, with the labels that each got.

#1100 unit-tests: module_utils/test_rds.py requires py37+
  changelogs/fragments/unit-tests_test_rds_py37_only.yaml
  tests/unit/module_utils/test_rds.py
Labels: needs_info, needs_template, tests, python3, needs_triage, mergeit

#1098 inventory/aws_ec2: drop := operator because we still support py3.6
  changelogs/fragments/inventory-aws_ec2-avoid-py38-syntax.yaml
  plugins/inventory/aws_ec2.py
Labels: needs_info, needs_template, inventory, python3, needs_triage, plugins, small_patch, mergeit

#1097 inventory/aws_ec2: deprecate include_extra_api_calls
  changelogs/fragments/inventory-aws_ec2-include_extra_api_calls-is-deprecated.yaml
  plugins/inventory/aws_ec2.py
  tests/unit/plugins/inventory/test_aws_ec2.py
Labels: inventory, tests, community_review, needs_triage, plugins, mergeit

#1109 ec2_vpc_net_info: fix keyerror
  changelogs/fragments/1109-ec2_vpc_net_info_keyerror.yml
  plugins/modules/ec2_vpc_net_info.py
Labels: bug, module, python3, community_review, traceback, plugins, mergeit, backport-5

#1107 [stable-5] Update docs-links for stable-5 branch
  README.md
  galaxy.yml
Labels: community_review, needs_triage, docs, mergeit

#1108 Bump main to 6.0.0-dev0
  changelogs/fragments/1108-main-6.0.0.yml
  galaxy.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, tests, community_review, needs_triage, small_patch, mergeit

#1071 Handle ec2_vol.tags when the associated instance already exists
  changelogs/fragments/1071-ec2_vol_tags_idempotent.yaml
  plugins/modules/ec2_vol.py
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1117 s3_object - Be more defensive when checking the results of get_bucket_ownership_controls
  changelogs/fragments/1115-s3_object-scaleway.yml
  plugins/modules/s3_object.py
Labels: bug, owner_pr, module, community_review, needs_triage, plugins, mergeit, backport-5

#1121 tox: generate coverage report for all the plugins
  tox.ini
Labels: needs_info, needs_template, needs_triage, small_patch, mergeit

#1123 Prepare 5.0.1 with minor bugfixes
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1109-ec2_vpc_net_info_keyerror.yml
  changelogs/fragments/1115-s3_object-scaleway.yml
  galaxy.yml
Labels: feature, community_review, needs_triage, mergeit

#1124 Prepare 3.5.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/638-ec2_security_group_group_name_datatype.yml
  changelogs/fragments/943-ec2_metadata_facts-fix-NoneType-callable.yml
  changelogs/fragments/unit-tests_test_rds_py37_only.yaml
  galaxy.yml
Labels: feature, community_review, needs_triage, mergeit

#1125 Prepare release 4.3.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1038-ec2-insufficient-capacity.yml
  changelogs/fragments/1083-__spec__-is-None.yml
  changelogs/fragments/943-ec2_metadata_facts-fix-NoneType-callable.yml
  changelogs/fragments/tests-cloud.yml
  changelogs/fragments/unit-tests_test_rds_py37_only.yaml
  galaxy.yml
Labels: feature, community_review, needs_triage, mergeit

#1119 tox: add complexity-report target
  tox.ini
Labels: community_review, needs_triage, backport-3, mergeit, backport-4, backport-5

#1138 Fix AttributeError when running ec2_metadata_facts
  changelogs/fragments/1134-ec2_metadata_facts-AttributeError.yml
  plugins/modules/ec2_metadata_facts.py
Labels: bug, has_issue, owner_pr, module, community_review, needs_triage, plugins, small_patch, mergeit

#1136 Improve unit test coverage of module_utils.policy
  changelogs/fragments/1136-DEPRECATE-sort_json_policy_dict.yml
  plugins/module_utils/policy.py
  tests/unit/module_utils/policy/test_canonicalize.py
  tests/unit/module_utils/policy/test_py3cmp.py
  tests/unit/module_utils/policy/test_simple_hashable_policy.py
  tests/unit/module_utils/policy/test_sort_json_policy_dict.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1143 Prepare 5.0.2 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1134-ec2_metadata_facts-AttributeError.yml
  galaxy.yml
Labels: community_review, needs_triage, docs, mergeit

#1135 Remove deprecated CloudRetry.backoff (and AWSRetry.backoff)
  changelogs/fragments/1110-deprecation-complete-cloudretry-backoff.yml
  plugins/module_utils/cloud.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/unit/module_utils/cloud/test_cloud_retry.py
  tests/unit/module_utils/cloud/test_decorator_generation.py
  tests/unit/module_utils/retries/test_awsretry.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1142 Update docs workflows to use intersphinx links
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
  changelogs/fragments/workflows-add-intersphinx.yml
Labels: community_review, docs, mergeit, backport-5

#1147 Expand tagging unit tests
  changelogs/fragments/unit-tests-tagging.yml
  tests/unit/module_utils/test_tagging.py
Labels: feature, tests, community_review, needs_triage, mergeit

#1145 Enable ec2_metadata integration tests
  changelogs/fragments/20221010-test-times.yml
  tests/integration/targets/ec2_metadata_facts/aliases
  tests/integration/targets/ec2_vol/aliases
  tests/integration/targets/ec2_vpc_route_table/aliases
Labels: feature, integration, tests, community_review, needs_triage, plugins, mergeit, backport-5

#1152 Use missing_required_lib more consistently
  changelogs/fragments/1152-missing-botocore.yml
  plugins/inventory/aws_ec2.py
  plugins/inventory/aws_rds.py
  plugins/lookup/aws_account_attribute.py
  plugins/lookup/aws_secret.py
  plugins/lookup/aws_ssm.py
  plugins/module_utils/modules.py
Labels: feature, inventory, lookup, module_utils, community_review, needs_triage, plugins, mergeit, backport-5

#1146 Deprecate module_utils.urls
  changelogs/fragments/DEPRECATE-module_utils-urls.yml
  plugins/module_utils/urls.py
Labels: feature, module_utils, community_review, plugins, mergeit, backport-5

#1151 ec2_instance - update build_run_instance_spec to skip TagSpecification if None
  changelogs/fragments/1148-build_run_instance_spec.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_vpc_nat_gateway/aliases
  tests/integration/targets/kms_key/aliases
  tests/integration/targets/rds_cluster/aliases
  tests/integration/targets/rds_cluster_snapshot/aliases
  tests/unit/plugins/modules/ec2_instance/test_build_run_instance_spec.py
  tests/unit/plugins/modules/ec2_instance/test_determine_iam_role.py
Labels: bug, new_plugin, integration, module, tests, community_review, plugins, needs_maintainer, mergeit

#1095 new modules: lambda_layer and lambda_layer_info
  meta/runtime.yml
  plugins/modules/lambda_layer.py
  plugins/modules/lambda_layer_info.py
  tests/integration/targets/lambda_layer/aliases
  tests/integration/targets/lambda_layer/defaults/main.yml
  tests/integration/targets/lambda_layer/tasks/main.yml
  tests/unit/plugins/modules/test_lambda_layer.py
  tests/unit/plugins/modules/test_lambda_layer_info.py
Labels: new_plugin, new_module, has_issue, module, community_review, plugins, mergeit

#1158 Merge release changelogs into main branch
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1109-ec2_vpc_net_info_keyerror.yml
  changelogs/fragments/1115-s3_object-scaleway.yml
  changelogs/fragments/1134-ec2_metadata_facts-AttributeError.yml
Labels: community_review, needs_triage, docs, mergeit, backport-5

#1163 expand module_utils.transformation unit tests
  changelogs/fragments/1163-map_complex_type.yml
  plugins/module_utils/transformation.py
  tests/unit/module_utils/cloud/test_cloud_retry.py
  tests/unit/module_utils/transformation/test_ansible_dict_to_boto3_filter_list.py
  tests/unit/module_utils/transformation/test_map_complex_type.py
Labels: bug, module_utils, tests, community_review, needs_triage, plugins, mergeit, backport-5

#1167 Re-enable ec2_vpc_endpoint tests
  changelogs/fragments/20221013-reenable-ec2_vpc_endpoint-tests.yml
  tests/integration/targets/ec2_vpc_endpoint/aliases
  tests/integration/targets/ec2_vpc_endpoint/meta/main.yml
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
  tests/integration/targets/setup_ec2_vpc/aliases
  tests/integration/targets/setup_ec2_vpc/defaults/main.yml
  tests/integration/targets/setup_ec2_vpc/meta/main.yml
  tests/integration/targets/setup_ec2_vpc/tasks/cleanup.yml
  tests/integration/targets/setup_ec2_vpc/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, mergeit

#1118 lambda - add support for layers when creating or updating lambda functions
  changelogs/fragments/lambda-add-support-for-layers.yml
  plugins/modules/lambda.py
  tests/integration/targets/lambda/defaults/main.yml
  tests/integration/targets/lambda/meta/main.yml
  tests/integration/targets/lambda/tasks/main.yml
Labels: feature, integration, module, tests, python3, community_review, plugins, mergeit

#1174 Refacterization of code to use 'fallback' instead of using os.environ
  changelogs/fragments/1174-module_params.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/botocore.py
  plugins/module_utils/modules.py
Labels: feature, module_utils, community_review, needs_triage, plugins, mergeit

#1133 Add metrics and extended_statistic keys to cloudwatch module
  changelogs/fragments/1133-add_metrics_cloudwatch.yml
  plugins/modules/cloudwatch_metric_alarm.py
  tests/integration/targets/cloudwatch_metric_alarm/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1166 Cleanup integration tests after all of the module renames
  changelogs/fragments/rename-cleanup-tests.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_cleanup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/tag_operations.yml
  tests/integration/targets/cloudtrail/tasks/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_cleanup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_setup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/main.yml
  tests/integration/targets/ec2_ami/tasks/main.yml
  tests/integration/targets/ec2_eip/tasks/main.yml
  tests/integration/targets/ec2_eni/tasks/main.yaml
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/teardown.yml
  tests/integration/targets/ec2_security_group/tasks/data_validation.yml
  tests/integration/targets/ec2_security_group/tasks/diff_mode.yml
  tests/integration/targets/ec2_security_group/tasks/egress_tests.yml
  tests/integration/targets/ec2_security_group/tasks/group_info.yml
  tests/integration/targets/ec2_security_group/tasks/icmp_verbs.yml
  tests/integration/targets/ec2_security_group/tasks/ipv6_default_tests.yml
  tests/integration/targets/ec2_security_group/tasks/main.yml
  tests/integration/targets/ec2_security_group/tasks/multi_account.yml
  tests/integration/targets/ec2_security_group/tasks/multi_nested_target.yml
  tests/integration/targets/ec2_security_group/tasks/numeric_protos.yml
  tests/integration/targets/ec2_security_group/tasks/rule_group_create.yml
  tests/integration/targets/ec2_snapshot/tasks/main.yml
  tests/integration/targets/ec2_spot_instance/tasks/main.yaml
  tests/integration/targets/ec2_vpc_endpoint/defaults/main.yml
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
  tests/integration/targets/elb_classic_lb/defaults/main.yml
  tests/integration/targets/elb_classic_lb/tasks/cleanup_vpc.yml
  tests/integration/targets/elb_classic_lb/tasks/https_listeners.yml
  tests/integration/targets/elb_classic_lb/tasks/setup_vpc.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/setup.yml
  tests/integration/targets/inventory_aws_ec2/playbooks/tear_down.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_grants.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_modify.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_states.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_tagging.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/lookup_aws_ssm/tasks/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create_sgs.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_option_group/tasks/main.yml
  tests/integration/targets/s3_object/tasks/main.yml
  tests/integration/targets/setup_ec2_instance_env/tasks/main.yml
  tests/integration/targets/setup_ec2_vpc/tasks/cleanup.yml
Labels: needs_rebase, needs_revision, feature, integration, tests, community_review, needs_triage, plugins, mergeit

#1180 Bump December deprecation dates over to a firm 6.0.0 version
  changelogs/fragments/1180-december-deprecations.yml
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_vpc_dhcp_option.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_endpoint_info.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, module, tests, community_review, needs_triage, plugins, mergeit, backport-5

#1181 Linting cleanup
  changelogs/fragments/1181-linting.yml
  plugins/inventory/aws_ec2.py
  plugins/module_utils/cloud.py
  plugins/modules/autoscaling_group.py
  plugins/modules/cloudtrail_info.py
  plugins/modules/cloudwatchlogs_log_group.py
  plugins/modules/ec2_eip.py
  plugins/modules/kms_key_info.py
  plugins/modules/lambda.py
  plugins/modules/lambda_execute.py
  plugins/modules/rds_cluster_snapshot.py
  plugins/modules/rds_instance.py
  plugins/modules/rds_instance_snapshot.py
  plugins/modules/route53_health_check.py
  plugins/modules/s3_object_info.py
  tests/unit/module_utils/modules/ansible_aws_module/test_minimal_versions.py
  tests/unit/module_utils/policy/test_py3cmp.py
  tests/unit/module_utils/policy/test_simple_hashable_policy.py
  tests/unit/module_utils/test_s3.py
  tests/unit/plugins/modules/ec2_instance/test_determine_iam_role.py
  tests/unit/plugins/modules/test_ec2_ami.py
Labels: feature, inventory, module, module_utils, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit, backport-5

#1168 S3_bucket : Handle setting of permissions while acl is disabled
  changelogs/fragments/1168-s3_bucket_acl_disabled.yml
  plugins/modules/s3_object.py
  tests/integration/targets/s3_object/tasks/copy_object_acl_disabled_bucket.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1162 [stable-4] ec2_instance - update build_run_instance_spec to skip TagSpecification if None
  changelogs/fragments/1148-build_run_instance_spec.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_vpc_nat_gateway/aliases
  tests/unit/plugins/modules/ec2_instance/test_build_run_instance_spec.py
  tests/unit/plugins/modules/ec2_instance/test_determine_iam_role.py
Labels: bug, integration, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1139 move get_s3_connection, reduce complexity and increase coverage
  changelogs/fragments/module_utils_s3-unit-testing.yml
  plugins/module_utils/s3.py
  plugins/modules/s3_bucket.py
  plugins/modules/s3_object.py
  plugins/modules/s3_object_info.py
  tests/unit/module_utils/test_s3.py
  tests/unit/plugins/modules/test_s3_object.py
Labels: feature, module, module_utils, tests, community_review, plugins, needs_maintainer, mergeit

#1156 dev_guidelines: initiate a paragraph about unit-tests
  docs/docsite/rst/dev_guidelines.rst
Labels: community_review, docs, mergeit

#1165 ec2_ami: refactoring and unit-test coverage
  changelogs/fragments/ec2_ami_test-coverage.yaml
  plugins/modules/ec2_ami.py
  tests/unit/plugins/modules/test_ec2_ami.py
Labels: needs_info, needs_template, module, tests, plugins, needs_maintainer, mergeit

#1169 rds_param_group: WARN on updating DBParameterGroupFamily (engine)
  changelogs/fragments/1169-rds_param_group-fail-on-updating-engine.yml
  plugins/modules/rds_param_group.py
  tests/integration/targets/rds_param_group/defaults/main.yml
  tests/integration/targets/rds_param_group/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1192 rds_instance: disable aurora integration tests
  changelogs/fragments/rds_instance_disable_aurora_integration_tests.yaml
  tests/integration/targets/rds_instance/inventory
Labels: integration, tests, community_review, plugins, small_patch, mergeit

#1132 rds_instance_info/tests: add unit-tests
  changelogs/fragments/unit-tests_test_rds_instance_info_only.yaml
  plugins/modules/rds_instance_info.py
  tests/unit/plugins/modules/test_rds_instance_info.py
Labels: new_plugin, module, tests, community_review, plugins, needs_maintainer, mergeit

#1194 ec2_eip - Remove deprecated instance_id alias
  changelogs/fragments/20221024-ec2_eip-instance_id.yml
  plugins/modules/ec2_eip.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, module, tests, community_review, plugins, mergeit, do_not_backport

#1195 ec2_vpc_endpoint - Remove policy_file parameter
  changelogs/fragments/20221024-ec2_vpc_endpoint.yml
  plugins/modules/ec2_vpc_endpoint.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, module, tests, community_review, needs_triage, plugins, mergeit, do_not_backport

#1187 ec2_instance - avoid changing module.params
  changelogs/fragments/1187-ec2_instance.yml
  plugins/modules/ec2_instance.py
Labels: feature, owner_pr, module, community_review, needs_triage, plugins, mergeit

#1202 add pytest-forked to test requirements
  changelogs/fragments/20221026-pytest-forked.yml
  test-requirements.txt
Labels: bug, community_review, needs_triage, small_patch, backport-3, mergeit, backport-4, backport-5

#1199 ec2_instance - validate options on tower_callback
  changelogs/fragments/20221021-ec2_instance-tower_callback.yml
  plugins/module_utils/tower.py
  plugins/modules/ec2_instance.py
  tests/unit/module_utils/test_tower.py
Labels: bug, new_plugin, module, module_utils, tests, community_review, needs_triage, plugins, mergeit, backport-4, backport-5

#1206 ec2_eip - fix bad use of raise
  changelogs/fragments/20221026-ec2_eip-instance_id-followup.yml
  plugins/modules/ec2_eip.py
  tests/unit/plugins/modules/ec2_eip/test_check_is_instance.py
Labels: bug, new_plugin, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1196 ec2_metadata_facts: unit-test coverage
  tests/unit/plugins/modules/test_ec2_metadata_facts.py
Labels: needs_info, needs_template, new_plugin, module, tests, needs_triage, needs_maintainer, mergeit

#1213 ec2_security_group - Deprecate automatic flattening of lists passed to cidr_ip and cidr_ipv6
  changelogs/fragments/20221027-ec2_security_group-nested.yml
  plugins/modules/ec2_security_group.py
Labels: feature, owner_pr, module, community_review, plugins, mergeit, backport-5

#941 rds - add the engine_mode parameter
  changelogs/fragments/rds_cluster_engine_mode.yaml
  plugins/modules/rds_cluster.py
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create_sgs.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_modify.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_promote.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_restore.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_tag.yml
  tests/integration/targets/rds_cluster_snapshot/tasks/main.yml
  tests/integration/targets/rds_instance_aurora/aliases
  tests/integration/targets/rds_instance_aurora/tasks/main.yml
Labels: feature, integration, module, module_utils, tests, community_review, plugins, mergeit

#1186 ec2_metadata_facts: Add support to query instance tags in metadata
  changelogs/fragments/1186-ec2_metadata_facts-query-instance-metadata-tags.yml
  plugins/modules/ec2_metadata_facts.py
  tests/integration/targets/ec2_metadata_facts/meta/main.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/test_metadata.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1175 rds_cluster: split up the test target
  changelogs/fragments/rds_cluster_split_functional_tests.yaml
  tests/integration/targets/rds_cluster/inventory
  tests/integration/targets/rds_cluster/main.yml
  tests/integration/targets/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/vars/main.yml
  tests/integration/targets/rds_cluster/runme.sh
  tests/integration/targets/rds_cluster_create/aliases
  tests/integration/targets/rds_cluster_create/defaults/main.yml
  tests/integration/targets/rds_cluster_create/tasks/main.yaml
  tests/integration/targets/rds_cluster_create_sgs/aliases
  tests/integration/targets/rds_cluster_create_sgs/defaults/main.yml
  tests/integration/targets/rds_cluster_create_sgs/tasks/main.yaml
  tests/integration/targets/rds_cluster_modify/aliases
  tests/integration/targets/rds_cluster_modify/defaults/main.yml
  tests/integration/targets/rds_cluster_modify/tasks/main.yaml
  tests/integration/targets/rds_cluster_promote/aliases
  tests/integration/targets/rds_cluster_promote/defaults/main.yml
  tests/integration/targets/rds_cluster_promote/tasks/main.yaml
  tests/integration/targets/rds_cluster_restore/aliases
  tests/integration/targets/rds_cluster_restore/defaults/main.yml
  tests/integration/targets/rds_cluster_restore/tasks/main.yaml
  tests/integration/targets/rds_cluster_snapshot/tasks/main.yml
  tests/integration/targets/rds_cluster_tag/aliases
  tests/integration/targets/rds_cluster_tag/defaults/main.yml
  tests/integration/targets/rds_cluster_tag/tasks/main.yaml
Labels: needs_info, needs_template, integration, tests, plugins, mergeit

#1219 Backport Linting cleanup from 1181
  changelogs/fragments/1181-stable-5-linting.yml
  plugins/inventory/aws_ec2.py
  plugins/modules/s3_object_info.py
Labels: feature, inventory, module, community_review, needs_triage, plugins, mergeit

#1216 Prep 5.1.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1148-build_run_instance_spec.yml
  changelogs/fragments/1150-ec2_instance-fix-instance-creation-in-az.yml
  changelogs/fragments/1152-missing-botocore.yml
  changelogs/fragments/1163-map_complex_type.yml
  changelogs/fragments/1172-credentials_parameters.yml
  changelogs/fragments/1181-stable-5-linting.yml
  changelogs/fragments/20221010-test-times.yml
  changelogs/fragments/20221021-ec2_instance-tower_callback.yml
  changelogs/fragments/20221026-pytest-forked.yml
  changelogs/fragments/20221027-ec2_security_group-nested.yml
  changelogs/fragments/DEPRECATE-module_utils-urls.yml
  changelogs/fragments/version_added-5.yml
  changelogs/fragments/workflows-add-intersphinx.yml
  galaxy.yml
Labels: feature, tests, community_review, needs_triage, needs_maintainer, mergeit

#1201 route53_health_check: add support for enabling latency graphs
  changelogs/fragments/1201-route53_health_check-add-support-for-latency-graphs.yml
  plugins/modules/route53_health_check.py
  tests/integration/targets/route53_health_check/tasks/main.yml
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit
