Repository ansible-collections/amazon.aws, pull requests merged in 2023-08, with the labels that each got.

#1675 Update .github/workflows/units.yml
  .github/workflows/units.yml
Labels: bug, community_review, backport-5

#1672 [stable-6] Add github workflows (sanity, units, linters and changelog)
  .github/workflows/all_green_check.yml
  .github/workflows/ansible-bot.yml
  .github/workflows/changelog_and_linters.yml
  .github/workflows/sanity.yml
  .github/workflows/units.yml
  .github/workflows/update-variables.yml
  changelogs/fragments/20230704-add_github_workflow.yml
  test-requirements.txt
  tox.ini
Labels: bug, community_review, needs_triage, skip-changelog

#1676 [manual backport stable-5] Update .github/workflows/units.yml
  .github/workflows/sanity.yml
  .github/workflows/units.yml
  test-requirements.txt
  tests/unit/mock/loader.py
Labels: bug, tests, community_review, needs_triage

#1670 Default filters to empty dictionary
  changelogs/fragments/ec2_vpc_route_table_info-filter-fix.yml
  plugins/modules/ec2_vpc_route_table_info.py
Labels: bug, new_contributor, module, community_review, needs_triage, plugins, small_patch, mergeit, backport-6

#1677 [backport stable-5] rds_cluster - Add AllocatedStorage, DBClusterInstanceClass, StorageType, Iops, and EngineMode
  changelogs/fragments/20230713-rds_cluster-fix_params_passage.yml
  plugins/modules/rds_cluster.py
Labels: bug, owner_pr, module, community_review, needs_triage, plugins, mergeit

#1631 route53_health_check - add support for CALCULATED type
  changelogs/fragments/1631-route53_health_check-added-calculcated.yml
  plugins/modules/route53_health_check.py
  tests/integration/targets/route53_health_check/tasks/calculate_health_check.yml
  tests/integration/targets/route53_health_check/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-6

#1680 Prep amazon.aws 5.5.3
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20230713-rds_cluster-fix_params_passage.yml
  changelogs/fragments/20230725-rds_cluster-fix.yml
  galaxy.yml
Labels: community_review, needs_triage, docs, mergeit

#1683 route53: add wait_id return value in case of changes
  changelogs/fragments/1683-route53-wait_id.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-6

#1687 Prep amazon.aws 6.3.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1631-route53_health_check-added-calculcated.yml
  changelogs/fragments/1647-add-type-started-and-stopped.yml
  changelogs/fragments/1683-route53-wait_id.yml
  changelogs/fragments/20230704-add_github_workflow.yml
  changelogs/fragments/20230707-backup_selection-doc-fix.yml
  changelogs/fragments/20230713-rds_cluster-fix_params_passage.yml
  changelogs/fragments/20230725-rds_cluster-fix.yml
  changelogs/fragments/ec2_vpc_route_table_info-filter-fix.yml
  galaxy.yml
  plugins/module_utils/common.py
Labels: feature, module_utils, community_review, needs_triage, plugins, skip-changelog

#1689 Fix misspelling in ec2_instance docs
  plugins/modules/ec2_instance.py
Labels: new_contributor, module, community_review, needs_triage, docs, plugins, small_patch, mergeit, backport-5, backport-6

#1688 Update CHANGELOG after 6.3.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20230707-backup_selection-doc-fix.yml
  changelogs/fragments/20230713-rds_cluster-fix_params_passage.yml
  changelogs/fragments/20230725-rds_cluster-fix.yml
Labels: community_review, needs_triage, docs, mergeit

#1685 ssm_parameter: update examples to use FQCN
  changelogs/fragments/1685-ssm_parameter-update-examples-to-use-fqcn.yml
  plugins/lookup/ssm_parameter.py
Labels: lookup, community_review, needs_triage, docs, plugins, mergeit, backport-5, backport-6

#1694 [manual backport stable-5] Fix misspelling in ec2_instance docs (#1689)
  plugins/modules/ec2_instance.py
Labels: bug, module, community_review, plugins, small_patch, mergeit

#1693 [manual backport stable-5] ssm_parameter: update examples to use FQCN (#1685)
  changelogs/fragments/1685-ssm_parameter-update-examples-to-use-fqcn.yml
  plugins/lookup/aws_ssm.py
Labels: bug, new_plugin, lookup, community_review, plugins, mergeit

#1697 Update changelog to add 5.5.x entries
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: community_review, docs, mergeit

#1698 Add various missing changelogs
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: community_review, needs_triage, docs, mergeit

#1699 [PR#1698/1b11934a][stable-6] Add missing changelogs
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: community_review, needs_triage, docs, mergeit

#1700 GHA: Exclude Python 3.9 runs for milestone branch
  .github/workflows/sanity.yml
Labels: python3, community_review, needs_triage, small_patch, mergeit

#1707 CI: Force PyYAML version that can be installed
  tests/integration/constraints.txt
Labels: integration, tests, community_review, needs_triage, plugins, small_patch, mergeit, skip-changelog

#1702 Add pause to allow permissions to propagate
  tests/integration/targets/lambda_policy/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, small_patch, mergeit, skip-changelog

#1701 Backup selection bugfix
  changelogs/fragments/1701-backup-selection-bugfix.yml
  plugins/modules/backup_selection.py
  tests/integration/targets/backup_selection/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-6

#1716 Update document to use no_log and register when creating a new keypair
  changelogs/fragments/doc_update_for_keypair_nolog.yml
  plugins/modules/ec2_key.py
Labels: module, community_review, docs, plugins, small_patch, mergeit, backport-5, backport-6

#1721 Integration tests - Drop use of ec2_region
  changelogs/fragments/ec2_region.yml
  tests/integration/targets/ec2_instance_instance_multiple/tasks/main.yml
  tests/integration/targets/ec2_instance_uptime/tasks/main.yml
  tests/integration/targets/rds_param_group/tasks/main.yml
Labels: integration, tests, community_review, needs_triage, docs, plugins, mergeit

#1715 Add ec2_key_info module
  meta/runtime.yml
  plugins/modules/ec2_key_info.py
  tests/integration/targets/ec2_key/aliases
  tests/integration/targets/ec2_key/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, needs_triage, plugins, mergeit, backport-6, skip-changelog

#1704 ec2_key - fix security vulnerability
  changelogs/fragments/ec2_key-fix-security-vulnerability.yml
  plugins/modules/ec2_key.py
  tests/integration/targets/ec2_key/defaults/main.yml
  tests/integration/targets/ec2_key/tasks/main.yml
  tests/unit/plugins/modules/test_ec2_key.py
Labels: bug, integration, module, tests, community_review, plugins, needs_maintainer, mergeit, backport-6
