Repository ansible-collections/amazon.aws, pull requests merged in 2023-01, with the labels that each got.

#1307 Add support to _boto3_conn for dicts as well as botocore.config.Config objects
  changelogs/fragments/1307-botocore-configs.yml
  plugins/module_utils/botocore.py
  tests/unit/module_utils/botocore/test_merge_botocore_config.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1303 Add support to AnsibleAWSModule.client to override the default parameters
  changelogs/fragments/1303-client-override.yml
  plugins/module_utils/modules.py
  plugins/plugin_utils/base.py
  tests/unit/module_utils/modules/ansible_aws_module/test_passthrough.py
Labels: feature, module_utils, tests, community_review, needs_triage, plugins, mergeit

#1305 Refactor S3 connection code
  changelogs/fragments/1305-s3-refactor.yml
  plugins/module_utils/s3.py
  plugins/modules/s3_bucket.py
  plugins/modules/s3_object.py
  plugins/modules/s3_object_info.py
  tests/integration/targets/s3_object/tasks/main.yml
  tests/unit/module_utils/test_s3.py
  tests/unit/plugins/modules/test_s3_object.py
Labels: feature, integration, module, module_utils, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1311 ec2_eni_info - update docs default entry for filters
  changelogs/fragments/20230103-sanity-ec2_eni_info.yml
  plugins/modules/ec2_eni_info.py
Labels: owner_pr, module, community_review, needs_triage, docs, plugins, small_patch, mergeit, backport-4, backport-5

#1314 Fixed a typo in guide_aws.rst
  docs/docsite/rst/guide_aws.rst
Labels: new_contributor, community_review, needs_triage, docs, small_patch, mergeit, backport-4, backport-5

#1318 Add missing whitespace
  changelogs/fragments/1318-module_utils.yml
  plugins/module_utils/elbv2.py
  plugins/module_utils/waf.py
Labels: bug, module_utils, community_review, needs_triage, plugins, mergeit

#1320 ec2_vpc_dhcp_option - retry describe_dhcp_options on InvalidDhcpOptioID.NotFound
  changelogs/fragments/1320-ec2_vpc_dhcp_options-retrys.yaml
  plugins/modules/ec2_vpc_dhcp_option.py
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
Labels: bug, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1315 [6.0.0] ec2_instance - Drop default value for instance_type
  changelogs/fragments/1315-ec2_instance-instance_type.yml
  plugins/modules/ec2_instance.py
  tests/unit/plugins/modules/ec2_instance/test_build_run_instance_spec.py
Labels: feature, module, tests, community_review, plugins, needs_maintainer, mergeit, do_not_backport

#1306 Ansible AWS User-Agent identification
  changelogs/fragments/botocore-add-custom-user-agent.yaml
  plugins/module_utils/botocore.py
  plugins/module_utils/common.py
Labels: new_plugin, feature, module_utils, community_review, needs_triage, plugins, mergeit

#1323 ec2_vol - improve integration test stability
  changelogs/fragments/20230106-ec2_vol.yml
  tests/integration/targets/ec2_vol/tasks/main.yml
Labels: integration, tests, community_review, needs_triage, plugins, small_patch, mergeit, backport-4, backport-5

#1322 ec2_snapshot - stability - relax integration tests
  changelogs/fragments/20230105-ec2_snapshot.yml
  tests/integration/targets/ec2_snapshot/tasks/main.yml
Labels: feature, integration, tests, community_review, needs_triage, plugins, mergeit, backport-4, backport-5

#1329 Prep 3.5.1 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20221021-ec2_instance-tower_callback.yml
  changelogs/fragments/20221026-pytest-forked.yml
  galaxy.yml
Labels: bug, community_review, needs_triage, mergeit

#1328 ec2_vpc_route_table - fix integration test after 1308
  changelogs/fragments/20230109-ec2_vpc_route_table.yml
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: bug, integration, tests, community_review, needs_triage, plugins, small_patch, mergeit

#1330 Prep 4.4.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1148-build_run_instance_spec.yml
  changelogs/fragments/1318-module_utils.yml
  changelogs/fragments/20221021-ec2_instance-tower_callback.yml
  changelogs/fragments/20221026-pytest-forked.yml
  changelogs/fragments/20230103-sanity-ec2_eni_info.yml
  changelogs/fragments/20230106-ec2_vol.yml
  galaxy.yml
Labels: bug, community_review, needs_triage, mergeit

#1333 Update changelog entries
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20230103-sanity-ec2_eni_info.yml
  changelogs/fragments/20230106-ec2_vol.yml
Labels: community_review, needs_triage, docs, mergeit

#1332 [stable-5] aws_rds - RDS inventory plugin didn't read config
  changelogs/fragments/1304-aws_rds-config.yml
  plugins/inventory/aws_rds.py
Labels: bug, inventory, community_review, needs_triage, plugins, small_patch, mergeit

#1327 [6.0.0] ec2_vpc_dhcp_options - drop new_options
  changelogs/fragments/1327-ec2_vpc_dhcp_options.yml
  plugins/modules/ec2_vpc_dhcp_option.py
  tests/integration/targets/ec2_vpc_dhcp_option/tasks/main.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, community_review, needs_triage, plugins, mergeit

#1336 lambda_info and lambda_alias - avoid manipulating module.params
  changelogs/fragments/1336-lambda-module_params.yml
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_info.py
Labels: feature, owner_pr, module, community_review, needs_triage, plugins, mergeit

#1337 ec2_instance - avoid manipulating module.params
  changelogs/fragments/1337-ec2_instance.yml
  plugins/modules/ec2_instance.py
  tests/unit/plugins/modules/ec2_instance/test_build_run_instance_spec.py
Labels: feature, module, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit

#1340 Add 'base' connection plugin code
  changelogs/fragments/refactor_connection_plugins.yml
  plugins/plugin_utils/connection.py
  tests/unit/plugin_utils/connection/__init__.py
  tests/unit/plugin_utils/connection/test_connection_base.py
Labels: new_plugin, feature, tests, community_review, needs_triage, mergeit

#1343 [5.2.0] Prepare release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1174-module_params.yml
  changelogs/fragments/1266-rds_instance_gp3_support.yaml
  changelogs/fragments/1277-lambda-int-test-other-lambdas.yml
  changelogs/fragments/1283-aws_ec2_inventory_compose_doc_examples.yml
  changelogs/fragments/1304-aws_rds-config.yml
  changelogs/fragments/20230103-sanity-ec2_eni_info.yml
  changelogs/fragments/20230106-ec2_vol.yml
  changelogs/fragments/integration_tests_max_duration_increase.yaml
  changelogs/fragments/rds_instance_split_the_integration_test-suite.yaml
  changelogs/fragments/rds_mariadb_version-10.6.10.yml
  galaxy.yml
Labels: community_review, needs_triage, docs, mergeit

#1335 route53_health_check: rescind deprecation message for `health_check_name`
  changelogs/fragments/1335-route53_health_check-rescind-deprecation-message.yml
  plugins/modules/route53_health_check.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: module, tests, community_review, plugins, mergeit
