Repository ansible-collections/amazon.aws, pull requests merged in 2023-02, with the labels that each got.

#1350 Various lint fixups
  changelogs/fragments/20230204-sanity.yml
  plugins/module_utils/s3.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/lambda_layer.py
  plugins/modules/s3_bucket.py
  tests/unit/module_utils/botocore/test_merge_botocore_config.py
  tests/unit/module_utils/test_acm.py
  tests/unit/plugins/modules/test_ec2_eni_info.py
  tests/unit/plugins/modules/test_ec2_key.py
  tests/unit/plugins/modules/test_ec2_metadata_facts.py
  tests/unit/plugins/modules/test_ec2_snapshot_info.py
  tests/unit/plugins/modules/test_kms_key.py
  tests/unit/plugins/modules/test_rds_instance_info.py
  tests/unit/plugins/modules/test_s3_object.py
Labels: feature, module, module_utils, tests, community_review, needs_triage, plugins, needs_maintainer, mergeit, backport-5

#1351 [stable-5] Sanity test backports
  changelogs/fragments/1226-defaults.yml
  changelogs/fragments/20230204-sanity.yml
  plugins/modules/autoscaling_group.py
  plugins/modules/cloudtrail_info.py
  plugins/modules/cloudwatch_metric_alarm.py
  plugins/modules/cloudwatchevent_rule.py
  plugins/modules/ec2_ami.py
  plugins/modules/ec2_ami_info.py
  plugins/modules/ec2_eni.py
  plugins/modules/ec2_eni_info.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_instance_info.py
  plugins/modules/ec2_snapshot.py
  plugins/modules/ec2_spot_instance.py
  plugins/modules/ec2_spot_instance_info.py
  plugins/modules/ec2_vol_info.py
  plugins/modules/ec2_vpc_dhcp_option_info.py
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_endpoint_service_info.py
  plugins/modules/ec2_vpc_igw_info.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/ec2_vpc_nat_gateway_info.py
  plugins/modules/ec2_vpc_net_info.py
  plugins/modules/ec2_vpc_route_table.py
  plugins/modules/ec2_vpc_subnet.py
  plugins/modules/ec2_vpc_subnet_info.py
  plugins/modules/iam_user.py
  plugins/modules/kms_key.py
  plugins/modules/lambda.py
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_event.py
  plugins/modules/rds_cluster.py
  plugins/modules/rds_option_group_info.py
  plugins/modules/s3_object.py
Labels: feature, owner_pr, module, community_review, needs_triage, plugins

#1345 Release process documentation
  docs/docsite/rst/collection_release.rst
Labels: community_review, docs, mergeit

#1362 Corrected wrong parameter for SSH private key file. Improved value de…
  docs/docsite/rst/aws_ec2_guide.rst
Labels: new_contributor, community_review, needs_triage, docs, small_patch, mergeit

#1364 Remove file tests/integration/inventory
  .gitignore
  changelogs/fragments/remove-tests-integration-inventory-file.yml
  tests/integration/inventory
Labels: community_review, needs_triage, mergeit

#1359 ec2_metadata_facts - fix AttributeError when running on older managed hosts
  changelogs/fragments/1358-ec2_metadata_facts.yml
  plugins/modules/ec2_metadata_facts.py
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/teardown.yml
  tests/integration/targets/ec2_metadata_facts/templates/inventory.j2
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-5

#1348 Remove an unreachable code fragment in ec2_security_group
  changelogs/fragments/1348-remove-unreachable-code.yml
  plugins/modules/ec2_security_group.py
Labels: new_contributor, module, community_review, plugins, mergeit

#1357 ec2_vpc_subnet_info - example fix
  changelogs/fragments/1357-subnet-example.yml
  plugins/modules/ec2_vpc_subnet_info.py
Labels: module, community_review, docs, plugins, small_patch, mergeit, backport-4, backport-5

#1375 Black-en plugins/plugin_utils
  changelogs/fragments/1375-lint.yml
  plugins/plugin_utils/base.py
  plugins/plugin_utils/botocore.py
  plugins/plugin_utils/connection.py
  plugins/plugin_utils/inventory.py
  plugins/plugin_utils/lookup.py
Labels: mergeit

#1342 [6.0.0] Bump botocore requirements
  README.md
  changelogs/fragments/python37.yml
  changelogs/fragments/release-6-botocore.yml
  plugins/module_utils/botocore.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_key.py
  plugins/modules/lambda.py
  plugins/modules/rds_instance.py
  plugins/modules/s3_object_info.py
  requirements.txt
  tests/integration/constraints.txt
  tests/integration/targets/ec2_instance_hibernation_options/meta/main.yml
  tests/integration/targets/ec2_instance_metadata_options/meta/main.yml
  tests/integration/targets/ec2_instance_metadata_options/tasks/main.yml
  tests/integration/targets/ec2_key/meta/main.yml
  tests/integration/targets/ec2_key/tasks/main.yml
  tests/integration/targets/ec2_metadata_facts/meta/main.yml
  tests/integration/targets/ec2_metadata_facts/playbooks/setup.yml
  tests/integration/targets/lambda/meta/main.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_event/meta/main.yml
  tests/integration/targets/lambda_event/tasks/setup.yml
  tests/integration/targets/s3_object/meta/main.yml
  tests/integration/targets/s3_object/tasks/main.yml
  tests/unit/constraints.txt
  tests/unit/module_utils/modules/ansible_aws_module/test_minimal_versions.py
Labels: feature, integration, module, module_utils, tests, community_review, plugins, mergeit, do_not_backport

#1373 Add "Darker" github action
  .github/workflows/darker-pr.yml
  pyproject.toml
Labels: mergeit

#1355 Partial revertion of environment variable fallback (#1224)
  changelogs/fragments/1353-revert-env-fallback.yml
  plugins/doc_fragments/aws.py
  plugins/module_utils/botocore.py
  plugins/module_utils/modules.py
Labels: bug, module_utils, community_review, plugins, mergeit

#1384 Allow to disable encryption on cloudtrail
  changelogs/fragments/1384-cloudtrail-disable_encryption.yml
  plugins/modules/cloudtrail.py
  tests/integration/targets/cloudtrail/tasks/main.yml
Labels: mergeit, backport-5

#1386 Minor fixups to release docs
  docs/docsite/rst/collection_release.rst
Labels: mergeit

#1270 elbv2: respect UseExistingClientSecret
  changelogs/fragments/1270-elbv2-fixes.yml
  plugins/module_utils/elbv2.py
  plugins/modules/elb_application_lb.py
  tests/unit/module_utils/elbv2/test_prune.py
Labels: bug, module, module_utils, tests, community_review, plugins, mergeit, backport-5

#1378 Add full path to the awx_ec2 inv example
  changelogs/fragments/20230220-inventory_docs_ec2_aws.yml
  plugins/inventory/aws_ec2.py
Labels: mergeit, backport-5

#964 fix incomplete enforce_count() return values
  changelogs/fragments/964-ec2_instance-return-instances.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance_instance_multiple/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-5

#1374 delete 'get_classic_link_status' method
  changelogs/fragments/1374-get_classic_link_status.yml
  plugins/modules/ec2_vpc_net.py
  plugins/modules/ec2_vpc_net_info.py
  tests/integration/targets/ec2_vpc_net/tasks/main.yml
Labels: mergeit
